/*---------------------------------------------------------------
Project:	Home Office One Page Template
Version:	1.0
Last change:	04/06/2015
Assigned to:	moonhunters (moonhuntersteam@gmail.com)
Primary use:	Themeforest
---------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Preloader
        - #preloader
        - #status
3. Typography
        - h1
        - h2
        - h3
        - p
4. Navbar
        - .navbar
        - .navbar-default
        - .navbar-toggle
        - .navbar-right
        - .navbar-text
        - .navbar-brand>img
        - .top-nav-collapse

5. botron (for static.html)
        - .jumbotron
        - .jumbo
        - .title
6. Carousel (for slider.html)
        - .carousel-caption
        - .fill_1
        - .fill_2
        - .fill_3
7. Video (for video.html)
        - .youtube
8. Testimonial
        - .testimonial
        - .testimonial-border
        - .testimonial-text
        - blockquote
        - #quote-carousel
        - .carousel-inner
        - .item blockquote
9. About Us
        - .About-Us
        - .about-text
        - #text-aboutus
10. Counter
        - .counters
        - ul#example
        - ul#example li
        - ul#example li span
        - ul#example li.seperator
        - ul#example li p
11. What we do
        - .what-we
        - .file-text-icon
        - .file-text-icon:hover
        - .icons
        - .what_we_do
        - .webdesign
        - .copywriting
        - .coding
12. Animate numbers
        - .animate-numbers
        - .number
        - .counter
        - .count
        - .count1
        - .count2
        - .count3
        - .count4
13. Gallery
        - .images-gallery
        - .gallery
        - figure
        - figcaption
        - .modalDialog
        - .modalDialog:target
        - .modalDialog img
        - .close
14. Download
        - #home
        - .download
        - .down
15. Contact
        - .contact-us
        - .input-group .form-control
        - .form-control
        - .input-group-addon
        - form-control:focus
16. Google-maps
        - #map-canvas
17. Subscribe
        - #subscribe
        - .subs
        - #email
        - .form-control
        - .buttonSubscribe
        - .buttonSubscribe:hover
18. Footer
        - .footer
        - .footer-text
        - .social-icon
        - .social-icon li
        - .icon
        - .icon a
        - .icon a:hover
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Color codes]

    Body-color: #313131 (dark)
    jumbotron color: #ffffff (white)
    counter color: #7a9697 (green)
    testimonial color: #9b9b9b (grey)
    text-aboutus color: #fff (white)
    contact-us color: #313131; (dark)
    footer color: #486164 (green)
    btn-primary color: #c1a26e
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Typography]

Body copy:		Open Sans 700, 400, 100;
Input, textarea:	Arial, Helvetica, sans-serif;
-------------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 1. Body */
/*---------------------------------------------------------------*/




.pageOption {
    overflow: hidden;
    position: relative;
    margin: 0;
    width: 100vw;
    height: 50vh;
}

.option > .img1{ width: 70%; height: 52%; }


.option > .img2{ width: 80%; height: 50%; }
.option {
    overflow: hidden;
    position: absolute;

    width: 100vw;
    height: 100vh;
    transform: skewX(-55.98deg);

}
.option:first-child {
    left: -.25em;
    transform-origin: 100% 0;
    background-color: #4a0015;
}



.option:last-child {
    right: -.25em;
    transform-origin: 0 100%;
    background-color: #e3e3e1;
}

.img1{
    display: none;}

.img2 {
    display: none; }

.img2, .img1,  .option:after {
    transform: skewX(55.98deg);
    transform-origin: inherit;
}
.option:after {
    position: absolute;
    margin: .5em 1.65em;
    color: white;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    padding: 0;
    text-transform: uppercase;
    content: attr(data-inf);

}

.option:first-child:after { top: 114px;
    left: 415px;
}
.option:last-child:after { right: 58%;
    bottom: 69%;
}

.bg-hell{

    background-color: white;
}





#d_lo{


    width: 0;
    height: 0;
    border-top: 600px solid #e3e3e1;
    border-right: 100vw solid transparent;
    z-index: 19;



}

#d_ru{
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 600px solid #4a0015;
    border-left: 100vw solid transparent;
    z-index: 19;
    transform: translateX(-100%);



}




#d_ru_2{


    position: absolute;
    top: -120px;;

    transform: translate(-100% , 20%);
    background-image: url('/home/max/Desktop/Autoebner/reifenhotel/index/images/reifen_rot.png');

}
#parent{

    position: relative;
}

.overlay_fb{

    position: relative;
    top: -400px;
    left:250px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    color: #433f3e;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}


.overlay_ig{

    position: relative;
    top: 334px;
    right: 398px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}



#statistic-1 {
    padding-top: 80px;
    padding-bottom: 40px;
}

#statistic-2 {
    padding-top: 80px;
    padding-bottom: 40px;
}

/*------------------------------------------*/
/*	  STATISTIC BLOCK
/*------------------------------------------*/

.statistic-block {
    margin-bottom: 40px;
}

#statistic-1 .statistic-block h4 {
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 20px;
}

#statistic-2 .statistic-block h4 {
    font-weight: 400;
    letter-spacing: 0;
    margin-top: 15px;
    margin-bottom: 0;
}


.statistic-number {
    font-size: 4rem;
    line-height: 1;
    letter-spacing: -2px;
    font-weight: 700;
}
#counter{
padding-top: 60px;
}


.h4-lg{

    margin-bottom: 30px;

}

.opening  {

    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 180%;
    color: #433f3e;
    margin-bottom: 35px;

}


.opening > li {

    padding: 15px;
}
.opening > li > a{
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color:  white;
    margin-bottom: 35px;
}


.opening > li {


    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #433f3e;
    margin-bottom: 35px;
}
.milestone-details {
    font-weight:bold;
    font-size:18px;
    color:#999;
}


p.p-lg {
    font-size: 1.25rem;
    color: white;
}

body{
    color: #313131;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden !important;
}

.btn-primary {
    background-color: transparent;
    border-color: #fff;
    border: solid 2px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-primary:hover {
    color: #000;
    background-color: #fff;
    border: solid 2px #fff;
}

.btn-primary0 {
    color: #313131;
    background-color: rgba(255,255,255,0.6);
    border: solid 2px rgba(255,255,255,0.6);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-primary1 {
    color: #fff;
    background-color: transparent;
    border: solid 2px #fff;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-primary1:hover {
    color: #313131;
    background-color: #fff;
    border: solid 2px #fff;

}


.btn-lg, .btn-group-lg>.btn {
    padding: 12px 25px;
}
/*---------------------------------------------------------------*/
/* 2. preloader */
/*---------------------------------------------------------------*/

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff;
    z-index:99;
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    background-image: url(../images/status.gif); /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin:-100px 0 0 -100px;
}
/*---------------------------------------------------------------*/
/*  preloader-end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 3. typography */
/*---------------------------------------------------------------*/
h1 {
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 35px;
}

h3 {
    font-weight: 400;
    font-size: 24px;
    color: #3f3f3f;
    margin-bottom: 30px;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #313131;
    margin-bottom: 35px;
}

/*---------------------------------------------------------------*/
/* typography-end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 4. navbar */
/*---------------------------------------------------------------*/
.navbar {
    min-height: 75px;
    margin-bottom: 25px;
}
.fa-bars{


    color: black;
}
.navbar-default {

    border-bottom: 1px solid #fff;
}

.navbar-default .navbar-toggle {
    background-image: url(../images/menu.svg);
    margin-top: 28px;
    border-color: transparent;
    background-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}


.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 12px;
    margin-top: 8px;
    margin-right: 15px;
    background-color: white;
    background-image: none;

}

.navbar-default .navbar-nav>li>a {
    color: #433f3e;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 14px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: grey;
    opacity: 0.8;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: lightgrey;
    height: auto;
}

.navbar-right {
    margin-top: 10px;
    }

.navbar-text {
    margin-top: 15px;
}

.navbar-default .navbar-text {
    color: #433f3e;
    font-weight: 700;
    font-size: 25px;
}


.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    color: #433f3e;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    /*border-bottom: 3px solid #c1a26e;*/
    background-color: white;
    color: #433f3e;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .close.navbar-nav>.active>a:focus {
    color: #433f3e;
    opacity: 0.9;
}

.container-fluid {


    background-color: white;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
.container-fluidk {

    background-color: #433f3e;

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
.navbar-default .navbar-brand {

    height: 74px;
}

.navbar-default .navbar-brand:hover {
    background-color: #e3dedd;
}

.navbar-brand>img {
    display: block;
    /*width: 100%;*/
    margin-top: 8px;
    margin-left: 45px;
    padding-right: 50px;
}

.nav>li>a {
    display: inline;
}

.navbar-nav>li>a {
    line-height: 50px;
}

.top-nav-collapse {
    padding: 0;
    background-color: #313131;
    opacity: 0.7;
}
/*---------------------------------------------------------------*/
/* navbar-end */
/*---------------------------------------------------------------*/

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #777777;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
    background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}

/*---------------------------------------------------------------*/
/* 5. jumbotron */
/*---------------------------------------------------------------*/
.jumbotron {
    margin-bottom: 0px;
    background-image: url('/home/max/Desktop/Autoebner/reifenhotel/index/images/reifen_rot.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 960px;
    background-position: top;

}

.jumbo  {
    padding-top: 330px;
    text-align: center;
    color: #fff;
}

.jumbotron h2 {
    font-size: 58px;
    font-weight: 700;
    letter-spacing: 30px;
    display: inline-block;
}

.jumbotron p {
    margin-bottom: 18px;
    font-size: 25px;
    font-weight: 100;
    color: #fff;
}

.title {
    display: inline;
}

/*---------------------------------------------------------------*/
/* 6. carousel */
/*---------------------------------------------------------------*/
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0px 0px rgba(0, 0, 0, .0);
}

.fill_1 {
    background-image: url('../images/b3.jpg');
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.fill_2 {
    background-image: url('../images/b2.jpg');
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.fill_3 {
    background-image: url('../images/b1.jpg');
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.item h3 {
    font-size: 68px;
    font-weight: 700;
    letter-spacing: 30px;
    margin-bottom: 40px;
    display: inline-block;
    color: #e3dcd6;
    text-transform: uppercase;
}

.yt h4  {
    font-weight: 100;
    font-size: 25px;
    margin-top:0px;
    margin-bottom: 40px;
    color: #fff;
}

.yt h5  {
    font-size: 68px;
    font-weight: 700;
    letter-spacing: 30px;
    margin-bottom: 40px;
    display: inline-block;
    color: #e3dcd6;
    text-transform: uppercase;
}

.yt p {
    font-weight: 100;
    font-size: 25px;
    margin-top:0px;
    margin-bottom: 320px;
    color: #fff;
}

.button-yt {
    display: inline;
}

.button-yt p {
    margin-top:5px;
    display: inline-block;
    padding: 5px;
    margin-bottom: 250px;
}

/*---------------------------------------------------------------*/
/* carousel-end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 7. video */
/*---------------------------------------------------------------*/

.youtube {
    width: auto;
    height: 1050px;
    text-align: center;
    color: #fff;
}

.youtube-gallery {
    width: auto;
    height: 400px;
    text-align: center;
    color: #fff;
}

.yt h3 {
    margin-top: 370px;
    font-size: 68px;
    font-weight: 700;
    letter-spacing: 25px;
    margin-bottom: 40px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
}

.yt h2 {
    font-weight: 100;
}

.yt p {
    font-size: 25px;
}

.button-yt {
    display: inline;
}
/*---------------------------------------------------------------*/
/* video-end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 8. testimonial */
/*---------------------------------------------------------------*/
.testimonial {
    background-color: rgba(227, 222, 221, 0.3);
    margin-top: -260px;
}

.testimonial-border {
    border-top: 2px solid #313131;
    width: 50px;
    padding-bottom: 15px;
    margin: 0 auto;
}

.testimonial-border-white {
     border-top: 2px solid #fff;
     width: 50px;
     padding-bottom: 15px;
     margin: 0 auto;
 }
.testimonial-border-grey {
    border-top: 2px solid #433f3e;
    width: 50px;
    padding-bottom: 15px;
    margin: 0 auto;
}
.testimonial-border-us {
    border-top: 2px solid #aba7a8;
    width: 50px;
    padding-bottom: 10px;
    margin: 0 auto;
}

.testimonial-border-numbers {
    border-top: 2px solid #d1c0b8;
    width: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0 auto;
}

.testimonial-text  {
    font-size: 12px;
}

blockquote {
    padding: 20px 20px;
    margin: 0 0 20px;
    font-size: 13px;
    font-style: italic;
}

#quote-carousel {
    padding: 0 10px 10px 10px;
    margin-top: 30px;
}

#quote-carousel .carousel-control {
    background: none;
    color: #313131;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 0px;
}

.carousel-inner {
    min-height: 220px;
    color: #313131;
    line-height: 180%;
    text-align: center;
}

.item h2 {
    margin-top: 1px;
    margin-bottom: 15px;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 5px;
}

.item blockquote {
    border-left: none;
    margin: 0;
}

blockquote footer, blockquote small, blockquote .small{
    margin-top: 20px;
    font-size: 10px;
    color: #313131;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}
/*---------------------------------------------------------------*/
/* testimonial-end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 9. about us */
/*---------------------------------------------------------------*/
.About-Us {
    background-color: #4a0015;
}

.about-text {
    padding-top: 70px;
    padding-bottom: 50px;
    text-align: center;
    padding-left: 120px;
    padding-right: 120px;
    background-color: #4a0015;
    color: #fff;
    font-size: 13px;
}

.about-text h2 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.about-text h3 {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
    text-align: center;
}

#text-aboutus {
    color: #fff;
    padding-top: 20px;
}

/*---------------------------------------------------------------*/
/* about us end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 9. Our-Team */
/*---------------------------------------------------------------*/
.our-team {
    background-color: #e6e6e6;
}

.our-team h2 {
    text-align: center;
    color: #313131;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 7px;
    text-transform: uppercase;
    padding-top: 80px;
}

.team-text {
    padding-top: 70px;
    padding-bottom: 100px;
    padding-right: 100px;
    padding-left: 100px;
    text-align: center;
    color: #313131;
    font-size: 13px;
}

.team-text-down {
    margin-top: -100px;
}

.team-text h2 {
    color: #313131;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 4px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
}

.team-text h4 {
    color: #313131;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.team-text p {
    margin-bottom: 5px;

}

.photo {
    border: 1px solid #313131;
}

/*---------------------------------------------------------------*/
/* Our Team end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* plans and pricing */
/*---------------------------------------------------------------*/

.plans-background{
    background-color: white;
}

.plans-pricing h2 {
    margin-top: 120px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: black;
    text-align: center;
}

.plans-border {
    border: 2px solid #c6bfa1;
    margin: 125px;
    padding: 20px;
    text-align: center;
    color: #fff;
    margin-top: 80px;
}

.plans-border2 {
    border: 2px solid #ffffff;
    margin: 125px;
    padding: 20px;
    text-align: center;
    color: #fff;
    margin-top: 80px;
}

.plans-border3 {
    border: 2px solid #e4e5e5;
    margin: 125px;
    padding: 20px;
    text-align: center;
    color: #fff;
    margin-top: 80px;
}

.plans h2 {
    font-size: 80px;
    font-weight: 100;
    margin-bottom: 5px;
}

.plans h4 {
    color: #e8e4e3;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.plans h3 {
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
    padding-top: 50px;
}

.plans p {
    color: #f3f2f0;
    padding: 2px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.btn-plans1 {
    border: 2px solid #fff;
    margin: 0 auto;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 20px;
}

.btn-plans1:hover {
    border: 2px solid #fff;
    margin: 0 auto;
    color: #313131;
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 20px;
}

/*---------------------------------------------------------------*/
/* plans and pricing end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 10. counter */
/*---------------------------------------------------------------*/


.counters {

    padding:  0;
    text-align: center;



}

/*
.counters:before{

    content: "";
    position: absolute;
    top: 0%;
    left: -99px;
    width: 0px;
    height: 0;
    border-bottom: 605px solid #e3e3e1;
    border-left: 100px solid transparent;

}*/
.counters h2 {
    color: #433f3e;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 20px;
}

.counters h3 {
    color: #433f3e;
    font-weight: 100;
    font-size: 18px;
    padding-bottom: 30px;
}

ul#example {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    display: block;
    text-align: center;
    color: #fff;
}

ul#example li { display: inline-block; }

ul#example li span {
    font-size: 72px;
    font-weight: 100;
    line-height: 80px;
    padding: 20px;
}

ul#example li.seperator {
    font-size: 55px;
    line-height: 70px;
    vertical-align: top;
}

ul#example li p {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding-top: 12px;
    padding-bottom: 50px;
}
#example{


}
/*---------------------------------------------------------------*/
/* 11. what we do */
/*---------------------------------------------------------------*/
.what-we {
    background-color:#e3e3e1;
}
.what-we-do {
    background-color: #433f3e;
}

.file-text-icon {
    color: #848484;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    border: 2px solid #aba7a8;
    border-radius: 90%;
    background-repeat: no-repeat;
}

.file-text-icon:hover {
    color: #313131;
    background-color: #aba7a8;
}

.icons {
    padding: 0 20px 20px 20px;
    text-align: center;
    margin-bottom: 20px;
}


.what_we {
    text-align: center;
    margin-top: 50px;

}

.what_we_do {
    text-align: center;
    margin-top: 50px;

}

.what_we_do h2 {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 7px;
    text-transform: uppercase;
    padding-top: 50px;
    color: white;
}
.what_we h2 {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 7px;
    text-transform: uppercase;
    padding-top: 50px;

}
.what {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 45px;
}
.what h2 {
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 14px;
    text-transform: uppercase;
}

.webdesign {
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 50px;
}

.copywriting {
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 40px;
}

.coding {
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 40px;
}
/*---------------------------------------------------------------*/
/* what we do - end*/
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 12. animate-numbers*/
/*---------------------------------------------------------------*/
.animate-numbers {
    height: auto;
}

.number {
    text-align: center;
    font-size: 22px;
}

.counter {
    color: #fff;
    font-size: 60px;
    font-weight: 100;
    display: inline;
    padding-right: 10px;
}

.number h2{
    /*display: inline-block;*/
    font-weight: 100;
    font-size: 40px;
    color: #fff;
    padding-right: 10px;
}

.number p{
    /*display: inline-block;*/
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.count {
    padding-top: 50px;
    padding-bottom: 7px;
}

.count1 {
    background-color: #c2a592;
}
.count2 {
    background-color: #c2a592;
}
.count3 {
    background-color: #c2a592;
}
.count4 {
    background-color: #c2a592;
}

/*---------------------------------------------------------------*/
/* 13. gallery*/
/*---------------------------------------------------------------*/
.images-gallery{
    position:relative;
    padding: 0;
    height: 80%;
}

.gallery-box {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #000;
}

.gallery {
    height:600px;
    background-color: white;
}

.border{

    border-right: 1px solid grey;

}
#gallery h1{
    position: relative;
    top: 250px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    color: black;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}

.h2_fig, .h2_service, .h2_ebner, .h2_shop{
    position: relative;
    top: 250px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}


.lupa {
    position: relative;
    width: 130%;

}

figure {
    height: 150px;
    width: 150px;
    display: block;
    overflow: hidden;
    z-index: 100;

}

figcaption {
    height: 600px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    opacity: 0;
    padding: 5px;

}

.sort-gallery a {
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

a:hover #team {
    opacity: 1;
    top: 0px;
    background-color: #4a0015;
    height: 600px;
    color: #433f3e;

}

a:hover #team > .h2_fig{

    color: white;

}
a:hover #team > img{

    top: 330px;
    left: -7px;


}

a:hover #service {
    opacity: 1;
    top: 0px;
    background-color: #e3e3e1;
    height: 600px;
    color: #433f3e;

}

a:hover #service > .h2_service{

    color: black;

}
a:hover #service > img{

    top: 360px;

}

a:hover #ebner {
    opacity: 1;
    top: 0px;
    background-color: #433f3e;
    height: 600px;
    color: #433f3e;

}

a:hover #ebner > .h2_ebner{

    color: white;

}
a:hover #ebner > img{

    top: 300px;
    width: 100%;

}

a:hover #shop {
    opacity: 1;
    top: 0px;
    background-color: #e3dac9;
    height: 600px;
    color: #433f3e;

}

a:hover #shop > .h2_shop{

    color: black;

}
a:hover #shop > img{

    top: 320px;
    width: 90%;

}
/*---------------------------------------------------------------*/
/* modal*/
/*---------------------------------------------------------------*/
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255, 0.7);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 1090px;
    height: 800px;
    color: #000;
    position: relative;
    margin: 7% auto;
    padding: 5px 20px 13px 20px;
}

.modalDialog p {
    color: #000;
    margin-top: 7px;
}

.modalDialog img {
    height: 79%;
}

.close {
    color: #aba7a8;
    line-height: 25px;
    position: absolute;
    right: -26px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: normal;
    font-size: 30px;
    -webkit-transition: all 1.3s ease-in-out;
    -moz-transition: all 1.3s ease-in-out;
    -o-transition: all 1.3s ease-in-out;
    -ms-transition: all 1.3s ease-in-out;
}


.close:hover {
    color: #7a9697;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}
/*---------------------------------------------------------------*/
/* gallery-end*/
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 14. download */
/*---------------------------------------------------------------*/
#home {
    /*background: url(../images/blured.jpg) 50% 0 fixed;*/
    background-color: #e9b998;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.download {
    text-align: center;
}

.download h2 {
    color: white;
    padding-top: 50px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 10px;
}



.down {
    margin-bottom: 75px;
}

/*---------------------------------------------------------------*/
/* download end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 15. Contact*/
/*---------------------------------------------------------------*/
.contact-background {
    background-color: #84818b;
}

.contact-us {
    text-align: center;
    color: #fff;
}

.contact-us h2 {
    margin-top: 120px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.contact-us .testimonial-border-white {
    margin-bottom: 40px;
}

.input-group .form-control {
    margin-bottom: 10px;
}

.form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0px 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #313131;
    background-color: #84818b;
    background-image: none;
    /*border: transparent;*/
    border: 1px solid #fff;

}

.input-group-addon {
    padding: 6px 12px;
    font-size: 0px;
    line-height: 1;
    color: transparent;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0px;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn-group:not(:last-child)>.btn {
    padding:10px;
    color: #313131;
}

.form-control:focus {
    border-color: #e9b998;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0),0 0 0px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.0),0 0 8px rgba(0, 0, 0, 0);
}

.contact .contact-btn {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    font-weight: 700;
    font-size: 12px;
    padding: 8px 30px;
    margin-bottom: 80px;
    height: 40px;
    text-transform: uppercase;
    margin-right: 25px;
}

.contact .contact-btn:hover {
    color: #313131;
    background-color: #fff;
    border: solid 2px #fff;
}

.address {
    margin-top: -20px;
}

.h2-contact {
    color: #fff;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 16px;
}

.lead {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9)
}

.btn:hover, .btn:focus, .btn.focus {
    /*color: rgba(255, 255, 255, 0.3);*/
    /*text-decoration: none;*/
}

hr {
    margin-top: 60px;
    margin-bottom: 20px;
    border: 0;
    border-top: 0px solid;
}

.form-control::-webkit-input-placeholder { color: #a9a9a9; }
.form-control:-moz-placeholder { color: #a9a9a9; }
.form-control::-moz-placeholder { color: #a9a9a9; }
.form-control:-ms-input-placeholder { color: #a9a9a9; }
/*---------------------------------------------------------------*/
/* contact-end*/
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 16. Google-maps*/
/*---------------------------------------------------------------*/
.mapa{
    padding-left:0px;
    padding-right: 0px;
}

#map {
    width: 100%;
    height: 500px;

}
/*---------------------------------------------------------------*/
/*  Google-maps-end*/
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 17. subscribe */
/*---------------------------------------------------------------*/
#subscribe {
    background-color: #f8f6f5;
}

.subs {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.subs h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 7px;
    margin-bottom: 20px;
}

#email {
    width: 400px;
    background-color: transparent;
    margin-bottom: 25px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 2px solid #313131;
    font-size: 14px;
    display: inline;
}

.form-control {
    padding-left: 0px;

}

.buttonSubscribe {
    color: #313131;
    background-color: transparent;
    font-weight: 700;
    font-size: 12px;
    padding: 8px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 40px;
    text-transform: uppercase;
    display: inline-block;
    border-color: transparent;
}

.buttonSubscribe:hover {
    color: #313131;
}


/*---------------------------------------------------------------*/
/* 14 footer*/
/*---------------------------------------------------------------*/
.footer {
    height: 100px;
    background-color: #e3e3e1;
}

.footer h4 {
    color: #433f3e;
    text-align: right;
    margin-top: -45px;
    margin-right: 50px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 5px;
}

.footer-text {
    position: relative;
    text-align: right;
}

.social-icon {
    display: table;
    margin-top: 15px;
}

.social-icon li {
    display: table-cell;
    /*text-align: right;*/
    padding: 10px;
}

#footerPinterest, #footerFacebook, #footerTwitter {
    font-size: 28px;
    color: #433f3e;
}






.icon {
    list-style: none;
    display: inline-block;
    height: 30px;
    width: 41px;
    vertical-align: middle;
    margin: 0;
    padding: 10px;
}

.icon a {
    display: block;
    background-size: 33px, 33px;
    width: 33px;
    height: 33px;
    opacity: 0.8;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;

}

.icon a:hover {
    opacity: 0.9;
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
}

.social-icon-team {
    display: table;
    margin: 0 auto;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 0px;
}

.footerPinterestteam {
    background-image: url('../images/social-icons/grey/pinterest.png');
}

.footerFacebookteam {
    background-image: url('../images/social-icons/grey/facebook.png');
}

.footerTwitterteam {
    background-image: url('../images/social-icons/grey/twitter.png');
}

.icon-team {
    list-style: none;
    display: inline-block;
    height: 30px;
    width: 41px;
    vertical-align: middle;
    margin: 0;
    margin: 10px
}

.icon-team a {
    display: block;
    background-size: 33px, 33px;
    width: 33px;
    height: 33px;
    opacity: 0.6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;

}

.icon-team a:hover {
    opacity: 0.9;
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
}




/*---------------------------------------------------------------*/
/* footer-end*/
/*---------------------------------------------------------------*/
.bg-scroll {
    width: 100%;
    background-attachment: fixed !important;
    background-repeat: no-repeat;
    background-position: center center;

}

.padding-top{
    padding-top: 20rem;
}
.container {
    position: relative;
    overflow: hidden;
    z-index: 3;
}
.container-video{

    position: relative;
    overflow: hidden;
    z-index: 3;
    width: 100%;


}

#autoebner{


}
#autoebner .video-overlay {


}

/*------------------------------------------*/
/*	VIDEO PREVIEW IMAGE
/*------------------------------------------*/

.video-preview {
    position: relative;
    text-align: center;
}

/*------------------------------------------*/
/*	  Video Link Play Icon
/*------------------------------------------*/

.video-btn {
    width: 120px;
    height: 120px;
    display: inline-block;
}

.video-block {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: -40;
    opacity: 0.7;
}


.h2_video{


    font-weight: 700;
    letter-spacing: 5px;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white !important;
}
.play-icon-white {
    width: 120px;
    height: 120px;
    background: url(../images/play-icon-white.png);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
    opacity: 0.9;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
}


.play-icon-white {
    background: url(../images/play-icon-white.png);
}


.play-icon-white:hover{
    opacity: 1;
}

.ytp-cued-thumbnail-overlay-image {
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}



h3.h3-hero-small {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    position: relative;
    margin-bottom: 3rem;
    color: white;
    line-height: 27px;
}


.facebook_logo > img{
    width: 50px;
    height: 50px;
}
.facebook_logo > p{
   color: #433f3e;
    font-size: 20px;
}
.facebook_logo{


    vertical-align: middle;
    text-align: left;
    display: flex;
    justify-content: space-between;
align-items: center;
    padding-bottom: 20px;
}
.fb-section{

    width: 100%;
    display: block;
    padding: 35px;
    background-color: white;

}
.facebook{
    text-align: center;
    width: 100%;
    display: table;
}

.facebook > p{

    color: #433f3e;
    font-size: 14px;
    padding-bottom: 18px;

}
.fb-btn{

     padding: 20px;
     background-color: #2b669a;
 }
.fb-btn > a{

    color: white;
    font-size: 16px;


}
.insta-btn{

    padding: 15px;
    margin-top: 25px;
    background-color: #da1d49;
}
.insta-btn > a{

    color: white;
    font-size: 16px;


}

.fb_ebner{

    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}




iframe{
    width:200%;
    height: 500px;
    opacity: 0.1;
    z-index: 5;
    margin: 0;
}
.navbar-light{

    background-color: white;
    opacity: 1;

}
.headroom {
    will-change: transform;
    transition: transform 200ms linear;

}



.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: scaleY(0) translateY(-150%);

}


.headroom--not-top.headroom--pinned {

    }



.ueber_uns{
    width: 100%;
    height:545px;

}


/* responsive*/
/*---------------------------------------------------------------*/
@media only screen and (max-width: 1550px) {



    .pageOption > a {


        width: 1600px;
    }

    .option:first-child:after {     top: 189px;
        left:580px;

    }
    .option:last-child:after { right: 64%;
        bottom: 69%;
    }
    .jumbotron {
        height: 750px;
    }

    .jumbo  {
        padding-top: 200px;
    }

    .modalDialog > div {
        width: 785px;
        height: 600px;
        margin-top: 100px;
    }

    .modalDialog img {
        height: 80%;
    }

    #email {
        width: 300px;
    }

    .item h3 {
        font-size: 48px;;
    }

    .yt h4  {
        margin-bottom: 40px;
    }

    .yt h5  {
        font-size: 48px;
        letter-spacing: 30px;
        margin-bottom: 40px;
    }

    .yt p {
        font-size: 18px;
        margin-bottom: 200px;
    }

    .button-yt p {
        margin-bottom: 190px;
    }

    .youtube {
        height: 750px;
    }

    .yt h3{
        margin-top: 200px;
        font-size: 45px;
    }


    .plans-border {
        margin: 25px;
        margin-bottom: 50px;
    }
    .plans-border2 {
        margin: 25px;
        margin-bottom: 50px;
    }
    .plans-border3 {
        margin: 25px;
        margin-bottom: 50px;
    }
}





@media only screen and (max-width: 1250px) {
    .jumbotron {
        height: 550px;
    }

    .jumbo  {
        padding-top: 220px;
    }

    #email {
        width: 275px;
        background-color: transparent;
        margin-bottom: 25px;
        margin-left: 20px;
    }

    .subs .btn-primary {
        margin-left:20px;
    }

    .testimonial {
        margin-top: 0px;
    }

    .navbar-default .navbar-nav>li>a {
        letter-spacing: 1px;
        font-size: 11px;
    }

    .item h3 {
        font-size: 45px;
        letter-spacing: 20px;
    }

    .yt h4  {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .yt h5  {
        font-size: 45px;
        letter-spacing: 20px;
        margin-bottom: 20px;
    }

    .yt p {
        font-size: 22px;
        margin-bottom: 150px;
    }

    .button-yt p {
        margin-bottom: 160px;
    }

    .youtube {
        height: 650px;
    }

    .yt h3 {
        margin-top: 300px;
        font-size: 38px;
    }

}


@media only screen and (max-width: 1290px) {

    .pageOption > a {
        width: 1250px;
    }


    .option > .img1{ width: 90%; height: 52%; }


    .option > .img2{ width: 60%; height: 50%; }

}
@media only screen and (max-width: 990px){


    .pageOption {
        overflow: hidden;
        position: relative;
        margin: 0;
        width: 100vw;
        height: 50vh;
    }

    .option > .img1{ width: 80%; height: 52%; }


    .option > .img2{ width: 70%; height: 50%; }
    .option {
        overflow: hidden;
        position: absolute;

        width: 100vw;
        height: 100vh;
        transform: skewX(-55.98deg);

    }
    .option:first-child {
        left: -.25em;
        transform-origin: 100% 0;
        background-color: #4a0015;
    }



    .option:last-child {
        right: -.25em;
        transform-origin: 0 100%;
        background-color: #e3e3e1;
    }

    .img1{
        display: none;}

    .img2 {
        display: none; }

    .img2, .img1,  .option:after {
        transform: skewX(55.98deg);
        transform-origin: inherit;
    }
    .option:after {
        position: absolute;
        margin: .5em 1.65em;
        color: white;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 7px;
        text-align: center;
        padding: 0;
        text-transform: uppercase;
        content: attr(data-inf);

    }

    .option:first-child:after {     top: 89px;
        left:248px;

    }
    .option:last-child:after { right: 58%;
        bottom: 69%;
    }

    .pageOption > a {
        width: 950px;
    }

    .lupa {
        position: relative;
        width: 102%;
    }
    a:hover #team {
        opacity: 1;
        top: 0px;
        background-color: #4a0015;
        height: 600px;
        color: #433f3e;

    }

    a:hover #team > .h2_fig{

        color: white;

    }
    a:hover #team > img{

        top: 200px;
        left: -7px;


    }

    a:hover #service {
        opacity: 1;
        top: 0px;
        background-color: #e3e3e1;
        height: 600px;
        color: #433f3e;

    }

    a:hover #service > .h2_service{

        color: black;

    }
    a:hover #service > img{

        top: 360px;

    }

    .engine{

        width: 50%;
    }

    a:hover #ebner {
        opacity: 1;
        top: 0px;
        background-color: #433f3e;
        height: 600px;
        color: #433f3e;

    }

    a:hover #ebner > .h2_ebner{

        color: white;

    }
    a:hover #ebner > img{

        top: 300px;
        width: 46%;;

    }

    a:hover #shop {
        opacity: 1;
        top: 0px;
        background-color: #e3dac9;
        height: 600px;
        color: #433f3e;

    }

    a:hover #shop > .h2_shop{

        color: black;

    }
    a:hover #shop > img{

        top: 320px;
        width: 37%;

    }


}
@media only screen and (max-width: 750px) {


    .pageOption > a {


        width: 350px;

    }

    .pageOption {
        overflow: hidden;
        position: relative;
        margin: 0;
        width: 100vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
    }

    .option > .img1{
        width: auto;
        height: 50%; }


    .option > .img2{
        width: auto;
        height: 50%;
        position: absolute;
        left: -330%;
    }
    .option {
        overflow: hidden;
        position: absolute;
        width: 50vw;
        height: 100vh;
        transform: none;

    }
    .option:first-child {
        left: -.25em;
        transform-origin: 0;
        background-color: #4a0015;
    }



    .option:last-child {
        right: -.25em;
        transform-origin: 0 ;
        background-color: #e3e3e1;
    }

    .img1{
        display: none;}

    .img2 {
        display: none; }

    .img2, .img1,  .option:after {
        transform: none;
        transform-origin: inherit;
    }
    .option:after {
        position: absolute;
        margin: .5em 1.65em;
        color: white;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 7px;
        text-align: center;
        padding: 0;
        text-transform: uppercase;
        content: attr(data-inf);

    }

    .option:first-child:after { top: 114px;
        left: 0px;
    }
    .option:last-child:after { right: -15px;
        bottom: 69%;
    }
    figure {
        height: 100px;
        width: 100px;
        display: block;
        overflow: hidden;
        z-index: 100;

    }

    figcaption {
        height: 300px;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0;
        opacity: 0;
        padding: 5px;

    }

    .sort-gallery a {
        color: #fff;
        font-weight: 400;
        font-size: 24px;
        text-align: center;
    }

    #team {
        opacity: 1;
        top: 0 !important;
        background-color: #4a0015;
        height: 600px;
        color: #433f3e;

    }


    #team > img {
        top: 228px;
        left: -7px;
    }
    .lupa {
        position: relative;
        width: 102%;
    }
    .engine{

        position: relative;
        width: 71% !important;
    }

    #team > .h2_fig{

        color: white;

    }
    a:hover #team > img{

        top: 228px;
        left: -7px;


    }


    #service {
        opacity: 1;
        top: 0px;
        background-color: #e3e3e1;
        height: 600px;
        color: #433f3e;

    }

    #service > .h2_service{

        color: black;

    }
    #service > img{

        top: 360px !important;

    }

    #ebner {
        opacity: 1;
        top: 0px;
        background-color: #433f3e;
        height: 600px;
        color: #433f3e;

    }

    #ebner > .h2_ebner{

        color: white;

    }
    #ebner > img{

        top: 300px !important;
        width: 70%;

    }
    a:hover #ebner > img{

        top: 300px !important;
        width: 70%;


    }

    #shop {
        opacity: 1;
        top: 0px;
        background-color: #e3dac9;
        height: 600px;
        color: #433f3e;

    }

    #shop > .h2_shop{

        color: black;

    }
    #shop > img {
        top: 320px !important;
        width: 48%;
    }
    a:hover #shop > img{

        top: 320px !important;
        width: 48%;

    }


    .jumbotron {
        height: 450px;
    }

    .jumbo  {
        padding-top: 200px;
    }

    .jumbotron h2 {
        font-size: 24px;
    }

    .jumbotron p {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 100;
        color: #fff;
    }

    ul#example li span {
        font-size: 30px;
        line-height: 45px;
    }

    .about-text {
        padding-right: 25px;
        padding-left: 25px;

    }

    .footer {
        height: 125px;
    }

    .footer h4 {
        text-align: center;
        margin-top: 50px;
        margin-right: 20px;
    }

    .social-icon {
        display: none
    }

    .modalDialog {
        display: none;
    }

    .item h3 {
        font-size: 35px;
        letter-spacing: 10px;
    }

    .yt h4  {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .yt h5  {
        font-size: 35px;
        letter-spacing: 10px;
        margin-bottom: 20px;
    }

    .yt p {
        font-size: 18px;
        margin-bottom: 150px;
    }

    .button-yt p {
        margin-bottom: 130px;
    }

    .youtube {
        height: 450px;
    }

    .yt h3 {
        margin-top: 200px;
        font-size: 20px;
        letter-spacing: 5px;

    }

    .yt h2 {
        font-size: 30px;
    }

    .plans-border {
        margin: 70px;
        margin-bottom: 50px;
    }
    .plans-border2 {
        margin: 70px;
        margin-bottom: 50px;
    }
    .plans-border3 {
        margin: 70px;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 500px) {

    .padding-top {
        padding-top: 0!important;
    }

.pageOption > a {


    width: 150px;

}
    .pageOption {
        overflow: hidden;
        position: relative;
        margin: 0;
        width: 100vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
    }

    .option > .img1{
        width: auto;
        position: absolute;
        left: -60px;
        height: 50%;

    }


    .option > .img2{
        width: auto;
        height: 50%;
        position: absolute;
        left: -800px;
    }
    .option {
        overflow: hidden;
        position: absolute;
        width: 50vw;
        height: 100vh;
        transform: none;

    }
    .option:first-child {
        left: -.25em;
        transform-origin: 0;
        background-color: #4a0015;
    }



    .option:last-child {
        right: -.25em;
        transform-origin: 0 ;
        background-color: #e3e3e1;
    }

    .img1{
        display: none;}

    .img2 {
        display: none; }

    .img2, .img1,  .option:after {
        transform: none;
        transform-origin: inherit;
    }
    .option:after {
        position: absolute;
        margin: .5em 1.65em;
        color: white;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 7px;
        text-align: center;
        padding: 0;
        text-transform: uppercase;
        content: attr(data-inf);

    }

    .option:first-child:after { top: 26%;
        left: -10px;
    }
    .option:last-child:after { right: -23px;
        bottom: 69%;
    }

    .jumbotron h2 {
        font-size: 24px;
        letter-spacing: 5px;
    }



    .navbar-brand>img {
        margin-top: 11px;
    }

    .item h3 {
        font-size: 25px;
        letter-spacing: 4px;
    }

    .yt h4  {
        font-size: 16px;
        margin-bottom: 10px;
        letter-spacing: 5px;
    }

    .yt h5  {
        font-size: 25px;
        letter-spacing: 5px;
        margin-bottom: 20px;
    }

    .yt p {
        font-size: 14px;
        margin-bottom: 150px;
    }

    .button-yt p {
        margin-bottom: 10px;
    }

    .plans-border {
        margin: 20px;
        margin-bottom: 50px;
    }
    .plans-border2 {
        margin: 20px;
        margin-bottom: 50px;
    }
    .plans-border3 {
        margin: 20px;
        margin-bottom: 50px;
    }


    figure {
        height: 100px;
        width: 100px;
        display: block;
        overflow: hidden;
        z-index: 100;

    }

    figcaption {
        height: 300px;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0;
        opacity: 0;
        padding: 5px;

    }

    .sort-gallery a {
        color: #fff;
        font-weight: 400;
        font-size: 24px;
        text-align: center;
    }

    #team {
        opacity: 1;
        top: 0px;
        background-color: #4a0015;
        height: 600px;
        color: #433f3e;

    }

    #team > .h2_fig{

        color: white;

    }
    #team > img{

        top: 330px;
        left: -7px;


    }

    a:hover #team > img{

        top: 330px;
        left: -7px;


    }


    #service {
        opacity: 1;
        top: 0px;
        background-color: #e3e3e1;
        height: 600px;
        color: #433f3e;

    }

    #service > .h2_service{

        color: black;

    }
    #service > img {
        top: 391px !important;
    }

    .engine {
        position: relative;
        width: 100% !important;
    }
    #ebner {
        opacity: 1;
        top: 0px;
        background-color: #433f3e;
        height: 600px;
        color: #433f3e;

    }

    #ebner > .h2_ebner{

        color: white;

    }
    #ebner > img{

        top: 300px;
        width: 100%;

    }

    #shop {
        opacity: 1;
        top: 0px;
        background-color: #e3dac9;
        height: 600px;
        color: #433f3e;

    }


    a:hover #ebner > img{

        top: 330px;
        width:100% !important;


    }

    #shop > .h2_shop{

        color: black;

    }
    #shop > img{

        top: 320px!important;
        width: 90% !important;

    }




    .facebook_logo > img {


        width: 30px;

        height: 30px;
        color: #433f3e;

        font-size: 14px;




    }

    .insta-logo > p {


        width: 30px;

        height: 30px;
        color: #433f3e;

        font-size: 12px !important;

        padding-right: 104px;



    }
    .facebook_logo > p {

        color: #433f3e;
        font-size: 16px;
        padding-left: 10px;

    }

    .fb-btn > a {

        color: white;
        font-size: 13px;

    }
    .fb-btn {

        padding: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        background-color: #2b669a;

    }

    .insta-btn > a {

        color: white;
        font-size: 14px;

    }

    .insta-btn {

        padding: 10px;
        margin-top: 25px;
        background-color: #da1d49;

    }

    .opening  {

        display: flex;
        flex-direction: column;
        text-align: left;
        font-weight: 400;
        font-size: 12px;
        line-height: 180%;
        color: #433f3e;
        margin-bottom: 35px;

    }

    .about-text{

        padding-bottom: 0;
    }


    .ueber_uns{
        height:auto;
    }

    .opening{


        display: flex;
        justify-content: center;
    }
    .opening > li {

        padding: 15px;
    }
    .opening > li > a{
        font-weight: 400;
        font-size: 14px;
        line-height: 180%;
        color:  white;
        margin-bottom: 35px;
    }


    .opening > li {

        text-align: left;
        font-weight: 400;
        font-size: 14px;
        line-height: 180%;
        color: #433f3e;
        margin-bottom: 35px;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: lightgrey;
        height: 100vh;
    }

    .navbar-right {
        margin-top: 10px;
        display: flex;

        flex-direction: column;

        align-items: center;

        line-height: 64px;}



    .statistic-number {

        font-size: 3rem;
        line-height: 1;
        letter-spacing: -2px;
        font-weight: 700;

    }
}


/*---------------------------------------------------------------*/
/* responsive-end*/
/*---------------------------------------------------------------*/


.fa-clock{

    font-size: 36px;


}

ul, li{


    list-style: none;
}

.kontakt_h2{
    color: white !important;
}
.opening > li >i{
    padding-right: 15px;
}


.fa-map-marker, .fa-phone, .fa-globe{

    font-size: 20px!important;
    color:  white;

}


.navbar-brand{


    padding-top:10px !important;
}
