<template>
<div>
    <div class="columns  is-marginless is-hidden-mobile bg-red is-hidden-tablet-only is-fullheight">
        <div class="column has-text-centered pt-10">
            <h1 class="title is-3 color-white">
                ÜBER UNS
            </h1>
            <div class="headline-border-white "></div>
            <p id="about_us" class="content is-medium color-white">Unsere Premium Partner Garantieren für Reifen der höchsten Qualität und Zuverlässigkeit während allen Umständen. Das liegt vor allem an der sorgfältigen Produktion die auf dem neueste Stand der Technik basiert. Mit dieser Kombination werden sie das beste aus ihrer Fahrt herausholen!
            </p>
        </div>
        <div class="column about-foto " data-sr='wait 0.1s, then enter right and hustle 125px over 4.5s'>
            <img class="about-img is-flex-desktop-only" src="/src/img/about.png" >
        </div>
    </div>

    <div>
        <section class="hero is-fullheight is-hidden-desktop shop-mobile">
            <div class="hero-body shop-mobile is-marginless is-paddingless">
                <div class="container is-pulled-top shop-mobile">
                    <img class="about-img is-marginless is-paddingless" src="/src/img/reifen-rot.jpg">
                </div>
            </div>

            <div class="hero-body shop-mobile">
                <div class="container shop-mobile">
                    <h1 class="title shop-mobile">
                        ÜBER UNS
                    </h1>

                    <div class=""></div>
                    <h2 class="subtitle shop-mobile">
                        Unsere Premium Partner Garantieren für Reifen der höchsten Qualität und Zuverlässigkeit während allen Umständen. Das liegt vor allem an der sorgfältigen Produktion die auf dem neueste Stand der Technik basiert. Mit dieser Kombination werden sie das beste aus ihrer Fahrt herausholen!
                    </h2>
                </div>
            </div>
        </section>
    </div>


</div>





</template>

<script>
    export default {

    }
</script>


