<template>
    <section class="hero is-fullheight">
        <div class="hero is-medium landing bg-grey">


            <div class="hero-body">
            <div class="container has-text-centered" >
                <h1 class="title color-white ">
                    KONTAKT
                </h1>

                <div class="headline-border-white "></div>


                <div class="row is-desktop">
                    <div class="contact-row">
                        <ion-icon class="icon is-large pr-5 color-white" name="locate"></ion-icon>
                        <span class="contact-span">
                            <a id="address">Ziegelofengasse 4, 2345 Brunn am Gebirge</a>
                        </span>

                    </div>
                    <div class="contact-row">
                        <ion-icon class="icon is-large pr-5 color-white" name="call"></ion-icon>
                        <span class="contact-span">
                            <a  class="color-white" href="tel:+432236224636" id="">Telefon: 02236/2246360</a>
                        </span>
                    </div>
                    <div class="contact-row">

                        <ion-icon class="icon is-large pr-5 color-white" name="mail"></ion-icon>
                         <span class="contact-span">
                             <a class="color-white" href="mailto:office@ebner-reifenhotel.at">office@ebner-reifenhotel.at</a>
                         </span>
                    </div>

                </div>




            </div>

            </div>
        </div>

        <div class="hero-body p-3 landing has-text-centered">



                <div class="container ">
                    <div class="row ">


                        <!-- STATISTIC BLOCK #1 -->
                        <div class="col-md-4 col-sm-12">
                            <div class="statistic-block text-center animated" data-animation="fadeInUp" data-animation-delay="300">
                                <h4 class="title is-4">Zufriedene Kunden</h4>
                                <div class="statistic-number">35568</div>
                            </div>
                        </div>


                        <!-- STATISTIC BLOCK #2 -->
                        <div class="col-md-4 col-sm-12">
                            <div class="statistic-block text-center animated" data-animation="fadeInUp" data-animation-delay="450">
                                <h4 class="title is-4">gelagerte Reifen</h4>
                                <div class="statistic-number">876567</div>
                            </div>
                        </div>


                        <!-- STATISTIC BLOCK #3 -->
                        <div class="col-md-4 col-sm-12">
                            <div class="statistic-block text-center animated" data-animation="fadeInUp" data-animation-delay="600">
                                <h4 class="title is-4">Mitarbeiter</h4>
                                <div class="statistic-number">123</div>
                            </div>
                        </div>




                    </div>
                </div>
        </div>

        <section class="hero is-info is-medium">
        <div class="hero-body landing bg-red">
            <div class="container has-text-centered" >
                <h1 class="title color-white">Social Media</h1>
                <div class="headline-border-white"></div>

                <div class="row-icons">
                <ion-icon  class="icon is-large p-4 color-white" id="fb-logo ion-icon" name="logo-facebook"></ion-icon>
                <ion-icon  class="icon is-large p-4 color-white" id="ig-logo ion-icon" name="logo-instagram"></ion-icon>
                <ion-icon  class="icon is-large p-4 color-white" id="yt-logo ion-icon" name="logo-youtube"></ion-icon>

                </div>
            </div>
        </div>
        </section>


    </section>

</template>

<script>
    export default {

    }



</script>




