<template>



    <section class="">

            <section class="hero is-medium">

        <div class="hero-body is-gapless is-paddingless is-marginless">
            <div class="container has-text-centered is-gapless is-paddingless is-marginless" >
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2664.192712313977!2d16.30811631564791!3d48.106518079220955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476daf25f1d3ce67%3A0xc1c5259e85fd6a86!2sZiegelofengasse+4%2C+2345+Brunn+am+Gebirge!5e0!3m2!1sde!2sat!4v1531395301185" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

            </div>
        </div>
    </section>

    <section >
        <footer class="footer bg-lightgrey">
        <div class="content content-footer">


            <ul class="footer-left is-marginless" >

                <li><a  class="color-grey subtitle is-5" href="#">Impressum</a></li>
                <li class="pt-5 subtitle is-5"><a  class="color-grey subtitle is-5 " href="#">Datenschutz</a></li>

            </ul>
            <div class="footer-right pt-5 is-marginless is-pulled-right">
                <h4 class="color-grey">© Reifenhotel. All Rights Reserved</h4>

            </div>

        </div>
        </footer>
        </section>
    </section>
</template>


