<template>
    <section class="hero is-fullheight">
        <div class="hero-body landing landing-hero">
            <div class="container has-text-centered" >
                <!-- <figure class="image is-square">
                    <img class="lupa engine" style="z-index: -1; width: 100%; height: auto;" src="/src/img/RHF.png" alt=""/>
                </figure> -->
                <h1 class="title title-hero">{{ title }}</h1>
                <h2 class="subtitle subtitle-hero">{{ subtitle }}</h2>
            </div>
        </div>
    </section>
</template>

<script>
    export default{
        props: ['title', 'subtitle'],
    }
</script>

<style>

</style>
