<template>

    <div>
        <div class="columns is-gapless is-paddingless is-marginless is-hidden-mobile is-hidden-tablet-only">
            <a href="/service.html" class="column has-text-centered menu-height" id="service">
                <h2 class="h2_menu title is-4">SERVICE</h2>
                <figure class="image">
                    <img class="lupa engine" src="/src/img/engine.png" alt=""/>
                </figure>
            </a>
            <a href="/team.html" class="column has-text-centered is-marginless menu-height" id="team">
                <h2 class="h2_menu title is-4 ">TEAM</h2>
                <figure class="image">
                    <img class="lupa engine" src="/src/img/team.png" alt=""/>
                </figure>
            </a>
            <a href="http://www.autoebner.at/" class="column has-text-centered menu-height" id="ae">
                <h2 class="h2_menu title is-4">AUTOEBNER</h2>
                <figure class="image">
                    <img class="lupa engine" src="/src/img/opel_hyundai.png" alt=""/>
                </figure>
            </a>
            <a href="/shop.html" class="column has-text-centered menu-height" id="shop">
                <h2 class="h2_menu title is-4">SHOP</h2>
                <figure class="image">
                    <img class="lupa engine img_reifen" src="/src/img/reifen2.png" alt=""/>
                </figure>
            </a>
        </div>

        <section class="hero is-medium is-hidden-desktop service-mobile">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <a href="/service.html" class="column has-text-centered menu-height" id="service_mobile">
                        <h2 class="h2_menu title is-4 color-white">SERVICE</h2>
                        <figure class="image">
                            <img class="lupa engine" src="/src/img/engine.png" alt=""/>
                        </figure>
                    </a>
                </div>
            </div>
        </section>

        <section class="hero is-medium is-hidden-desktop team-mobile">
            <a href="/team.html" class="column has-text-centered is-marginless menu-height" id="team_mobile">
                <h2 class="h2_menu title is-4  color-white">TEAM</h2>
                <figure class="image">
                    <img class="lupa engine" src="/src/img/team.png" alt=""/>
                </figure>
            </a>
        </section>

        <section class="hero is-medium is-hidden-desktop ae-mobile">
            <div class="hero-body">
                <a href="http://www.autoebner.at/" class="column has-text-centered menu-height" id="ae_mobile">
                    <h2 class="h2_menu title is-4 color-white">AUTOEBNER</h2>
                    <figure class="image">
                        <img class="lupa engine" src="/src/img/opel_hyundai.png" alt=""/>
                    </figure>
                </a>
            </div>
        </section>
        <section class="hero is-medium is-hidden-desktop shop-mobile">
            <div class="hero-body ">
                <div class="container has-text-centered">
                    <a href="/shop.html" class="column has-text-centered menu-height" id="shop_mobile">
                        <h2 class="h2_menu title is-4 color-white">SHOP</h2>
                        <figure class="image">
                            <img class="lupa engine img_reifen" src="/src/img/reifen2.png" alt=""/>
                        </figure>
                    </a>
                </div>
            </div>
        </section>
    </div>

</template>

<script>
    export default{

    }
</script>

