<template>


    <nav class="navbar  is-fixed-top headroom" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <!-- navbar items, navbar burger... -->
            <a class="navbar-item" href="#">
                <img src="#" alt="BRAND">
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-menu" id="navbarExampleTransparentExample">

            <div class="navbar-end ">



                <a href="/index.html" class="navbar-item is-active">
                    Home
                </a>

                <a href="/service.html" class="navbar-item">
                    Service
                </a>
                <a href="/team.html" class="navbar-item">
                    Team
                </a>
                <a href="https://www.autoebner.at" class="navbar-item">
                    Autoebner
                </a>
                <a href="/shop.html" class="navbar-item">
                    Shop
                </a>
            </div>

        </div>
    </nav>



</template>

<script>
    export default{

    }
</script>

<style>

</style>
