<template>
    <section class="hero is-fullheight ">
        <div class="hero-body  openingtime has-text-centered">
            <div class="container">
                <h1 class="title ">
                    Öffnungszeiten
                </h1>

                <div class="headline-border"></div>
                <ion-icon class="icon icon-openingtime is-large mt-4 has-text-centered" name="time"></ion-icon>
                <h4 class="subtitle is-4 mt-5">Montag - Freitag:</h4>
                <h4 class="subtitle is-4" >07.00 - 18.00</h4> <br>
                <h4 class="subtitle is-4">Samstag:</h4>
                <h4 class="subtitle is-4">09.00 - 12.00</h4>
            </div>
        </div>
    </section>
</template>

<script>
    export default{

    }
</script>

<style>

</style>
