
/*1.MENU*/
/*2.COLORS*/
/*3.IMAGES*/
/*4.CONTACT*/
/*5.FOOTER*/
/*6.HERO*/
/*7.NAVIGATION*/
/*8.OPENINGTIMES*/
/*9.STYLES*/
/*10.HEADLINES*/
/*11.ABOUT_US*/








body{


    font-family: 'Gothic', sans-serif;
}

img{

    height: 100%!important;

}



ul,li {
    list-style: none;
}
/******MENU******/
#service, #team, #ae{

    border-right: 0.5px solid black;
}

.menu-height{
    height: 600px;
}
#service:hover {
    color: white;
    background-color:#d2d2d2;
}


#service  > .image {


    position: relative;
    top: 100px;

}

#service:hover > .h2_menu{
    color: white !important;

}
#team:hover{
    color: white;
    background-color: #880708;
}

#team:hover > .h2_menu{
    color: white !important;

}

#team .image {

    visibility: visible;
    position: relative;
    top:100px;

}
#ae:hover{
    color: white;
    background-color: #6f6f6f;
}

#ae:hover > .h2_menu{
    color: white !important;

}
#ae .image {

    visibility: visible;
    width: 130%;
    position: relative;
    left:-120px;
    top:38px;

}
#shop:hover{
    color: white;
    background-color: #252525;
}

#shop:hover > .h2_menu{
    color: white !important;


}
#shop > .image {

    visibility: visible;
    width: 70%;
    position: relative;
    left:80px;
    top:43px;
}
.service-mobile {
    color: white;
    background-color: #d2d2d2;
}
.team-mobile{
    color:  white;
    background-color: #880708 ;
}
.ae-mobile{
    color:  white;
    background-color: #6f6f6f;
}
.shop-mobile{
    color: white;
    background-color: #252525;
}


.h2_menu:hover{

}

/****COLORS***/


.default-colors {
    color: white;
    background-color: #404952;
}

.anti-default-colors {
    color: #404952;
    background-color: white;
}


.bg-red {

    background-color: #880708 !important;
}
.color-red{

    color: #880708;
}
.color-grey{


    color: #6f6f6f !important;
}



.color-white{
    color: white !important;
}

.default-colors {
    color: white;
    background-color: #404952;
}

.anti-default-colors {
    color: #404952;
    background-color: white;
}

.bg-grey{


    background-color: #6f6f6f;
}


.bg-lightgrey{

    background-color:#e3e3e1;

}

.bg-white{


    background-color: white;
}
/******IMAGES*******/


.about-img {

    max-width:100%;
    max-height:100%;
}



.image{
    visibility: visible;
    position: relative;

}
.is-active{

    color: black!important;
}
/**********CONTACT**********/

.statistic-block {
    margin-bottom: 40px;
}

#statistic-1 .statistic-block h4 {
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 20px;
}

#statistic-2 .statistic-block h4 {
    font-weight: 400;
    letter-spacing: 0;
    margin-top: 15px;
    margin-bottom: 0;
}


.statistic-number {
    font-size: 3rem;
    line-height: 1;
    letter-spacing: -2px;
    font-weight: 700;
}

#address {
    color: white;
}
#address:hover {
    color: #c9bcab;
}

.contact-span {
    font-size: large;
}
#fb-logo:hover {
    color: #3b5998;
}

#ig-logo:hover {
    color: #8134af;
}

#yt-logo:hover {
    color: #ff0000;
}
.row{


    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-row{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}


.row-icons {
    display: flex;
    justify-content: center;
}

/********FOOTER*********/

.footer{

    height: 100px;
    padding: 0!important;
}
.content-footer{

    background-color: #e3e3e1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-left{



}

.footer-right{



}


#map {
    width: 100vw;
    height:60vh;
}

/***********HERO*************/


.landing-hero {

    background-image: url('/src/img/ReifenHotel2.jpg');
    background-position: center;
    background-size: cover;
    font-size: xx-large;
}

.title-hero{
    font-size: xx-large;
    color: white;
}

.subtitle-hero{
    font-size: x-large;
    color: white;
}
/*********NAVIGATION*********/





nav {
    height: 75px;
}

.nitem {
    color: #404952;

}

.nitem:hover {
    border-bottom: solid 1px #d20005;
}

a.navbar-item:hover{

    color: #880708 !important;

}

.navbar-item{

    font-weight: bold;
    font-size: 1rem!important;
    text-transform: uppercase!important;

}

/**************OPENINGTIMES****************/



.openingtime {

    background-color: #d2d2d2;
}

.openingtime > div > h1 {

    color:#252525;
}

.icon-openingtime {

    color:#252525;
}



/************STYLES*************/
.headline-border {

    border-top: 2px solid #6f6f6f;
    width: 100px;
    padding-bottom: 15px;
    margin: 0 auto;

}



.headline-border-white {

    border-top: 2px solid white;
    width: 100px;
    padding-bottom: 15px;
    margin: 0 auto;

}


.headline-border-red {

    border-top: 2px solid #880708;
    width: 100px;
    padding-bottom: 15px;
    margin: 0 auto;

}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;

}



.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: scaleY(0) translateY(-150%);

}
.pr-5{
    padding-right: 1rem;
}

.pt-10{

    padding-top: 100px!important;
}

.pt-5{

    padding-top: 20px;
}

.p-4{

    padding: 40px;
}

.p-3{

    padding: 3rem 1.5rem;
}
.mt-4{

    margin-top: 1rem;
}

.mt-5{

    margin-top: 1.25rem;
}
.align{


    align-items: center;
}
.row{


    margin-right: -15px;
    margin-left: -15px;
}


.col-md-4 {
    width: 33.33333333%;
}
.col-md-12{

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-fluid{


    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
/*********HEADLINES*********/

.h2_menu{

    padding-top: 190px;

}

/*********ABOUT_US*********/


#about_us{


    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.about-foto{

    padding: 0 !important;


}


@media screen and (max-width:500px){


    .row{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .contact-row{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }


    .statistic-number {
        font-size: 2rem;
        line-height: 1;
        letter-spacing: -2px;
        font-weight: 700;
    }


    .is-4{

        font-weight: 400!important;
    }

    #ion-icon{

        display: flex!important;

    }

    .row-icons{


        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .icon-openingtime{


        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon{

        width: 100%!important;
    }
    .subtitle.is-5 {
        font-size: 1rem;
    }

    .footer{

        height: 100px;
        padding: 0!important;
    }


    .content h4 {

        font-size: 1rem;
        margin-bottom: 0!important;
        margin-left: 40px;

    }

    .pt-5{

        padding-top: 0.5rem ;

    }


    .image{
        visibility: visible;
        position: relative;

    }
    #service_mobile > .image {


        width: 140%;
        position: relative;
        left:-50px;
        top:200px;


    }

    #team_mobile > .image {


        width: 120%;
        position: relative;
        left:-40px;
        top:10px;


    }

    #ae_mobile > .image {


        width: 160%;
        position: relative;
        left:-110px;


    }
    #shop_mobile > .image {


        width: 100%;
        position: relative;
        top:150px;


    }

}