/*-----------------------------------------------------------------------------------

 Theme Name: Muli
 Theme URI: http://
 Description: The Multi-Purpose Onepage Template
 Author: ui-themez
 Author URI: http://themeforest.net/user/ui-themez
 Version: 1.0

 Main Color   : #EE3158
 main Font    : Poppins,Muli

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------

 == Table Of Content

 01 Basics
 02 Buttons
 03 Navbar
 04 Header
 05 Hero
 06 section-box
 07 Services
 08 Numbers
 09 Works
 10 Team
 11 Price
 12 Testimonials
 13 Blog
 14 Subscribe
 15 Contact-Info
 16 Contact
 17 Footer
 18 Responsive


---------------------------------------------------------------- */

$main-color: #4a0015;
$mobile-xs-screen: 480px;
$tablet-sm-screen: 767px;
$desk-md-screen: 991px;

/* ----------------------------------------------------------------
     [ 01 Start Basics ]
-----------------------------------------------------------------*/

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 outline: none;
 list-style: none;
 word-wrap: break-word;

}

body {
 color: #222;
 line-height: 1.3;
 font-weight: 400;
 font-size: 14px;
 font-family: 'Poppins', sans-serif;
 overflow-x: hidden !important;
}

p {
 font-family: 'Muli', sans-serif;
 font-size: 14px;
 font-weight: 400;
 color: #7f7f7f;
 line-height: 1.8;
 margin: 0;
}

h1,h2,h3,h4{
 font-weight: 700;
}

h5,h6{
 font-weight: 600;
}

img {
 width: 100%;
 height: auto;
}

span, a, a:hover {
 display: inline-block;
 text-decoration: none;
 color: inherit;
}

.section-padding{
 padding: 120px 0;
}

.section-head{
 margin-bottom: 80px;

 h6{
  color: #777;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
 }

 h4{
  font-size: 28px;
  font-weight: 300;
  margin-top: 10px;
  position: relative;
  padding-bottom: 15px;

  &:after{
  	content: '';
  	width: 60px;
  	height: 1px;
  	background-color: $main-color;
  	position: absolute;
  	bottom: 0;
  	left: calc(50% - 30px);
  }

  span{
  	font-weight: 700;
  }
 }
}

.bg-gray{
 background: #f7f7f7;
}

.o-hidden {
 overflow: hidden;
}

.position-re {
 position: relative;
}

.full-width{
 width: 100% !important;
 padding-right: 15px;
 padding-left: 15px;
 margin-right: auto;
 margin-left: auto;
}

.lg-line-height{
 line-height: 1.5;
}

.half-content{
 position: relative;
 z-index: 3;

 h5,h6{
  color: inherit !important;
 }
}

.bg-img{
 background-size: cover;
 background-repeat: no-repeat;
}

.bg-fixed{
 background-attachment: fixed;
}

.pattern{
 background-repeat: repeat;
 background-size: auto;
}

.sub-title{
 font-size: 15px;
 font-weight: 400;
 color: $main-color;
 margin-bottom: 10px;
}

.bold{
 font-weight: 800;
}

.count{
 font-family: 'Dosis', sans-serif;
}

#particles-js{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 1;
}

.valign{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.v-middle {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.owl-theme .owl-nav.disabled+.owl-dots{
 margin-top: 20px;
 line-height: .7;
}

.owl-theme .owl-dots .owl-dot span{
 width: 8px;
 height: 8px;
 margin: 0 7px;
 border-radius: 50%;
 background: #ddd;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span{
 background: $main-color;
}

/* ----------------------------------------------------------------
     [ End Basics ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
     [ 02 Start Buttons ]
-----------------------------------------------------------------*/

.butn{
 padding: 12px 30px;
 background: #fff;
 border: 1px solid transparent;
 position: relative;
 z-index: 3;
 margin-left: 10px;
 margin-right: 10px;
 box-shadow: -10px 10px 30px rgba(0,0,0,.1);
 transition: all .4s;
 border-radius: 30px;
 cursor: pointer;
 outline: none !important;
 overflow: hidden;

 span{
  position: relative;
  z-index: 2;
  transition-delay: 0s;
 }

 &:before, &:after{
  content: '';
  width: 0;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  transition: width 0.4s;
  z-index: 1;
  opacity: .4;
 }

 &:after{
  transition-delay: 0s;
  background: #fff;
  opacity: 1;
 }

 &:hover{

  &:before, &:after{
   width: 100%;
  }

  &:after{
   transition-delay: .2s;
  }

  span{
   transition-delay: .2s;
  }
 }
}

.butn-bord{
 border-color: $main-color;

 &:before, &:after{
  background: $main-color;
 }

 &:hover{

  span{
   color: #fff;
  }
 }
}

.butn-bg{
 background: $main-color;
 border-color: $main-color;
 color: #fff;

 &:hover{

  span{
   color: $main-color;
  }
 }
}

.butn-light{
 background: #fff;

 &:before, &:after{
  background: $main-color;
 }

 &:hover{

  span{
   color: #fff;
  }
 }

 span{
  color: $main-color;
 }
}

/* ----------------------------------------------------------------
     [ End Buttons ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
     [ 03 Start Navbar ]
-----------------------------------------------------------------*/

.navbar{
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 background: transparent;
 z-index: 9;
 min-height: 80px;

 .icon-bar{
  color: #fff;
 }

 .navbar-nav{

  .nav-link{
   font-size: 13px;
   font-weight: 500;
   color: #eee;
   letter-spacing: .5px;
   margin: 15px 5px;
   transition: all .5s;
  }

  .active{
   color: $main-color !important;
  }
 }
}

.nav-scroll{
 background: #fff;
 box-shadow: 0px 15px 30px rgba(0,0,0,.05);
 padding: 0;
 position: fixed;
 top: -100px;
 left: 0;
 width: 100%;
 transition: transform .5s;
 transform: translateY(100px);

 .icon-bar{
  color: #222;
 }

 .navbar-nav{

  .nav-link{
   color: #222;
  }

  .logo{
   padding: 15px 0;
   color: #111;
  }
 }
}

.logo{
 padding: 15px 5px;
 width: 80px;
}

/* ----------------------------------------------------------------
     [ End Navbar ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 04 Start Header ]
-----------------------------------------------------------------*/

.header{
 min-height: 100vh;
 overflow: hidden;

 .caption{

  .o-hidden{
   display: inline-block;
  }

  h2{
  	font-weight: 300;
  	font-size: 30px;
  }

  h4{
   font-weight: 200;
   letter-spacing: 4px;
   animation-delay: .2s;
  }

  h1{
   margin: 10px 0;
   font-size: 60px;
   font-weight: 500;
   font-family: inherit;
   word-spacing: 2px;
   letter-spacing: 2px;
   animation-delay: .6s;
  }

  p{
   font-size: 15px;
   font-weight: 300;
   color: #eee;
   letter-spacing: 1px;
   word-spacing: 2px;
   animation-delay: 1s;

   span{
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0 5px;
    padding-right: 14px;
    position: relative;

    &:last-child{
     padding: 0;

     &:after{
      display: none;
     }
    }

    &:after{
     content: '';
     width: 7px;
     height: 7px;
     border-radius: 50%;
     background: $main-color;
     position: absolute;
     top: 10px;
     right: 0;
     opacity: .5;
    }
   }
  }

  .butn{
   animation-delay: 1.2s;
  }
 }

 .social{

 	a{
 		color: #eee;
 		font-size: 13px;
 		margin: 10px 15px;
 	}
 }
}

.slider,.slider-fade{

 .owl-item{
  height: 100vh;
  position: relative;
 }

 .item{
  position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background-size: cover;

     .caption{
      z-index: 9;
     }
 }

 .owl-theme .owl-dots{
  position: absolute;
  bottom: 5vh;
  width: 100%;
 }
}

.page-header{
 height: 70vh;

 h6{
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;

  a{

   &:hover{
    color: $main-color;
   }
  }

  i{
   margin: 0 15px;
   font-size: 10px;
  }
 }

 h1{
  margin-bottom: 10px;
  font-weight: 600;
 }
}

/* ----------------------------------------------------------------
     [ End Header ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 05 Start Hero ]
-----------------------------------------------------------------*/

.hero{
 position: relative;

 &:after{
  content: "";
  width: 40%;
  height: 250px;
  background-image: url(../img/dots.png);
  background-repeat: repeat;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
  z-index: -1;
 }

 .intro{

  h4{
   font-weight: 500;
  }

  h3{
   margin-bottom: 30px;
   padding-bottom: 30px;
   position: relative;

   &:after{
    content: '';
    width: 70px;
    height: 1px;
    background-color: $main-color;
    position: absolute;
    bottom: 0;
    left: calc(50% - 35px);
   }
  }

  h6{
   font-weight: 300;
   line-height: 1.4;
  }

  p{
   font-size: 16px;
  }
 }

 .feat-numb{

  span{
   font-family: 'Dosis', sans-serif;
   font-weight: 300;
   font-size: 40px;
   color: $main-color;
   margin-bottom: 15px;
  }

  h6{
   margin-bottom: 15px;
  }
 }
}

.hero-cr{

 .intro{

  h4{
   font-weight: 500;
   letter-spacing: 1px;
   margin-bottom: 20px;
   padding-bottom: 20px;
   position: relative;

   &:after{
    content: '';
    width: 80px;
    height: 1px;
    background: $main-color;
    position: absolute;
    bottom: 0;
    left: calc(50% - 40px);
   }
  }
 }

 .item{
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 30px rgba(0,0,0,.05);

  .icon{
   font-size: 35px;
   color: $main-color;
   margin-bottom: 25px;
  }

  h5{
   font-size: 16px;
   margin-bottom: 15px;
  }
 }

 .bg-color{
  background: $main-color !important;

  .icon{
   color: #fff;
  }

  h5{
   color: #fff;
  }

  p{
   color: #ccc;
  }
 }

 .bg-dark{
  background: #1a1d24 !important;

  h5{
   color: #fff;
  }

  p{
   color: #ccc;
  }
 }

 .numb{

  h3{
   margin-bottom: 10px;
   color: $main-color;
  }

  h6{
   font-weight: 400;
   font-size: 16px;
  }
 }
}

.hero-pr{

	.author-img{
		padding: 0 30px;
	}

	.content{
		padding-top: 50px;

		h3{
			margin-bottom: 30px;
		}

		h6{
			font-weight: 500;
			margin-bottom: 10px;
		}

		.sub{
			letter-spacing: 1px;
			text-transform: uppercase;
			color: #aaa;
			font-weight: 300;
			margin-bottom: 30px;
		}

		p{
			margin-bottom: 10px;
			font-size: 16px;

			&:last-child{
				margin: 0;
			}
		}

		.butn{
			margin-left: 0;
		}
	}

	.skills{

		.skill-progress{
			height: 12px;
		}
	}
}

.feat-left{

 .item{

  .icon{
   float: left;
   width: 60px;
   height: 60px;
   line-height: 65px;
   border-radius: 50%;
   text-align: center;
   font-size: 30px;
   color: #fff;
   border: 1px solid $main-color;
   background-color: $main-color;
   margin-bottom: 40px;
   position: relative;
   box-shadow: 0px 10px 30px rgba(0,0,0,.1);

   &:after{
    content: '';
    width: 80px;
    height: 80px;
    position: absolute;
    left: -11px;
    top: -11px;
    border-radius: 50%;
    border: 1px dashed #eee;
   }
  }

  h5{
   margin-bottom: 10px;
   font-size: 17px;
  }

  h5,p{
   margin-left: 90px;
  }
 }
}

.fet-img{

 img{
  border-radius: 5px;
  box-shadow: 0px 20px 40px -10px rgba(0,0,0,.1);
 }
}

.fet-cont{

 h3{
  font-weight: 200;
  line-height: 1.4;

  b{
   font-weight: 700;
  }
 }

 .circle {
     position: relative;
     text-align: center;
     line-height: 1.2;

     canvas{
      height: 100px;
      width: 100px;
      margin: 0 auto 10px;

      &:last-of-type{
       display: none;
      }
     }

     span{
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
     }
 }
}

/* ----------------------------------------------------------------
     [ End Hero ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 06 section-box ]
-----------------------------------------------------------------*/

.section-box{

 .half-img{
  background-position: 50% 50%;
 }

 .half-content{
  padding: 30px;
 }

 .box-white{
  padding: 100px 10%;
  background: #fff;
  box-shadow: 0px 8px 30px rgba(0,0,0,.08);
 }

 .accordion{

  .item{
   margin-bottom: 30px;
  }

  .title{
   padding: 10px 20px;
   background: #fff;
   box-shadow: 0px 10px 30px rgba(0,0,0,.2);
   border-radius: 30px;
   cursor: pointer;
   position: relative;

   &:after{
    content: '\f067';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 12px;
    position: absolute;
    top: 12px;
    right: 20px;
   }

   h6{
    font-size: 14px;
    font-weight: 600;
   }
  }

  .accordion-info{
   display: none;
   padding: 0px 15px;
   margin-top: 30px;
   border-left: 1px dotted #ccc;

   .spac{
    margin-top: 30px;
    padding-left: 30px;

    h6{
     position: relative;
     margin-bottom: 15px;

     &:after{
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #555;
      position: absolute;
      top: 3px;
      left: -15px;
     }
    }

    ul{
     padding-left: 30px;
    }

    li{
     margin-bottom: 10px;
     position: relative;
     font-size: 15px;

     &:after{
      content: "";
      width: 6px;
      height: 6px;
      border: 1px solid #222;
      border-radius: 50%;
      position: absolute;
      top: 9px;
      left: -15px;
     }
    }
   }
  }

  .active{
   display: block;

   .title{
    color: #fff;
    background: $main-color;
    background: linear-gradient(to right, $main-color , #e1284e);
    box-shadow: 0px 10px 30px rgba(0,0,0,.2);

    &:after{
     content: '\f068';
    }
   }
  }
 }

 .vid-butn{
  font-size: 70px;
  color: $main-color;
  position: relative;
  width: 70px;
  height: 70px;
  line-height: 70px;
  z-index: 3;

  &:hover{

   &:after{
    transform: scale(2,2);
    opacity: 0;
    transition: all .5s;
   }
  }

  &:after{
   content: '';
   position: absolute;
   top: -10px;
   bottom: -10px;
   right: -10px;
   left: -10px;
   background: rgba(255,255,255,.4);
   border-radius: 50%;
   z-index: -1;
   transition: all .2s;
  }

  &:before{
   content: '';
   position: absolute;
   top: -5px;
   bottom: -5px;
   right: -5px;
   left: -5px;
   background: rgba(255,255,255,.6);
   border-radius: 50%;
   z-index: -1;
  }
 }

 .quote{
  display: inline-block;
  background: $main-color;
  padding: 50px 30px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  z-index: 3;

  .icon{
   position: absolute;
   top: -20px;
   width: 100%;
   left: 0;
   font-size: 40px;
   color: #fff;
  }

  p{
   color: #eee;
   margin-bottom: 10px;
  }

  span{
   font-weight: 700;
  }
 }
}

.skills{

  .skill-item{
   margin-bottom: 30px;

   &:last-child{
    margin-bottom: 0;
   }

   h6{
    font-size: 14px;
    margin-bottom: 10px;
   }
  }

  .skill-progress{
   width: 100%;
   height: 20px;
   border: 4px solid #f7f7f7;
   background: #f7f7f7;
   border-radius: 20px;
   position: relative;
   box-shadow: 0px -7px 10px rgba(0, 0, 0, 0.08) inset;

   .progres{
    position: absolute;
    height: 100%;
    width: 0;
    left: 0;
    top: 0;
    background: $main-color;
    background: linear-gradient(to right, $main-color , #e1284e);
    border-radius: 20px;
    transition: all 1s;

    &:before{
     content: attr(data-value);
     padding: 4px 10px 3px;
     border-radius: 10px;
     font-size: 10px;
     color: #fff;
     background: $main-color;
     background: linear-gradient(to right, $main-color , #e1284e);
     position: absolute;
     top: -35px;
     right: 0;
    }

    &:after{
     content: "";
        width: 0;
        height: 0;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 5px solid $main-color;
        position: absolute;
        top: -12px;
        right: 15px;
    }
   }
  }
}

.skin{

	h6{
		font-weight: 400;
	}

	.skill-progress{
	   width: 100%;
	   height: 10px;
	   border: 1px solid rgba(255,255,255,.4);
	   background: rgba(255,255,255,.05);
	   border-radius: 20px;
	   position: relative;
	   box-shadow: none;

	   .progres{
		    position: absolute;
		    height: 100%;
		    width: 0;
		    left: 0;
		    top: 0;
		    background: $main-color;
		    background: linear-gradient(to right, $main-color , #e1284e);
		    border-radius: 20px;
		    transition: all 1s;

		    &:before{
		    	background: transparent;
		    }
		}
	}
}

/* ----------------------------------------------------------------
     [ End section-box ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 07 Start Services ]
-----------------------------------------------------------------*/

.services{

 .item{
  padding: 50px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,.05);

  .icon{
   font-size: 35px;
   color: $main-color;
   margin-bottom: 25px;
  }

  h6{
   margin-bottom: 20px;
   font-weight: 500;
  }
 }
}

.serv-box{
 position: relative;
 z-index: 3;

 &:after{
  content: '';
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-image: url(../img/dots.png);
  background-repeat: repeat;
  position: absolute;
  left: -200px;
  top: 20%;
  z-index: -1;
  opacity: .7;
 }

 .item{
  text-align: center;
  padding: 50px 20px;
  overflow: hidden;
  position: relative;
  z-index: 3;
  transition: all .4s;

  &:hover{
   color: #fff;

   .icon{
    color: #fff;
   }

   p{
    color: #ddd;
   }

   &:after{
    height: 100%;
   }
  }

  &:after{
   content: '';
   width: 100%;
   height: 0;
   position: absolute;
   left: 0;
   bottom: 0;
   background-color: $main-color;
   z-index: -1;
   transition: all .4s;
  }
 }
}

.se-ico-left{

 .item{
  padding: 0;
  background-color: transparent;
  box-shadow: none;

  .icon{
   font-size: 35px;
   color: $main-color;
   margin-bottom: 0;
   float: left;
   width: 60px;
   height: 60px;
   line-height: 65px;
   text-align: center;
   border-radius: 50%;
   background-color: #fff;
  }

  h6{
   margin-bottom: 15px;
   margin-left: 80px;
   font-weight: 500;
  }

  p{
   margin-left: 80px;
  }
 }
}

/* ----------------------------------------------------------------
     [ End Services ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 08 Start Numbers ]
-----------------------------------------------------------------*/

.numbers{

 .icon{
  font-size: 45px;
  color: $main-color;
  margin-bottom: 30px;
 }

 h3{
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 30px;
 }

 h6{
  font-weight: 300;
 }
}

.states{

 .icon{
  font-size: 60px;
  margin-bottom: 10px;
  color: #eee;
 }

 .sub-title{
  color: $main-color;
 }

 h5{
  line-height: 1.5;
  font-weight: 200;
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;

  &:after{
   content: '';
   width: 100px;
   height: 1px;
   background: $main-color;
   position: absolute;
   bottom: 0;
   left: calc(50% - 50px);
  }

  b{
   font-weight: 700;
  }
 }

 .item{

  h3{
   margin-bottom: 10px;
  }

  h6{
   font-weight: 400;
   font-size: 16px;
  }
 }
}

/* ----------------------------------------------------------------
     [ End Numbers ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 09 Start Works ]
-----------------------------------------------------------------*/

.works{

 .filtering{

  .filter{
   display: inline-block;
   padding: 2px 10px;
   border: 1px solid #eee;
   border-radius: 30px;
  }

  span{
   margin: 0 5px;
   padding: 8px 20px;
   font-size: 12px;
   font-weight: 500;
   border-radius: 30px;
   cursor: pointer;
  }

  .active{
   background: $main-color;
   background: linear-gradient(to right, $main-color , #e1284e);
   box-shadow: 0px 8px 30px -5px rgba(0,0,0,.2);
   color: #fff;
  }
 }

 .gallery{
 	padding-right: 0;
 	padding-left: 0;
 }

 .larg-padding{
  padding: 0 30px;

  .item-img{
   border: 10px solid #fff;
   margin-top: 60px;
  }
 }

 .no-padding{

  .item-img{
   margin-top: 0;
  }
 }

 .item-img{
  position: relative;
  margin-top: 30px;

  &:hover{

   .item-img-overlay{
    visibility: visible;
    opacity: 1;
   }
  }
 }

 .item-img-overlay{
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  padding: 30px;
  background: rgba(0,0,0,.9);
  opacity: 0;
  visibility: hidden;
  transition: all .5s;

  .icon{
   position: absolute;
   right: 30px;
   bottom: 30px;
   width: 40px;
   height: 40px;
   line-height: 40px;
   border-radius: 50%;
   border: 1px solid #eee;
   text-align: center;
   font-size: 20px;
   color: #eee;
  }

  p{
   color: $main-color;
   font-weight: 400;
  }

  h6{
   color: #fff;
   font-weight: 500;
   font-size: 16px;
   margin-top: 5px;
  }
 }
}

/* ----------------------------------------------------------------
     [ End Works ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 10 Start Team ]
-----------------------------------------------------------------*/

.team{

 .item{
  text-align: center;
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;

  &:hover{

   .info{
    bottom: 50px;
   }

   .team-img{

    &:after{
     opacity: 1;
     visibility: visible;
    }
   }
  }

  .team-img{
   overflow: hidden;
   border-radius: 4px;
   position: relative;

   &:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    background: linear-gradient(to top, #111, rgba(0,0,0,.4));
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
   }
  }

  .info{
   position: absolute;
   bottom: -500px;
   left: 0;
   padding: 0 15px;
   width: 100%;
   z-index: 4;
   transition: all .4s;

   h6{
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 5px;
   }

   span{
    font-size: 13px;
    font-style: italic;
    margin-bottom: 10px;
    color: $main-color;
   }

   p{
    margin-bottom: 10px;
    color: #a9a9a9;
   }

   .icon{
    margin: 0 10px;
    font-size: 12px;
    color: #eee;
    cursor: pointer;
   }
  }
 }
}

/* ----------------------------------------------------------------
     [ End Team ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 11 Start Price ]
-----------------------------------------------------------------*/

.price{

 .pricing-tables{
  padding: 0 30px;

  [class*=col-]{
   padding: 0 30px;
  }
 }

 .item{
  padding: 30px;
  background: #fff;
  box-shadow: 0px 8px 30px rgba(0,0,0,.05);
  border-radius: 5px;

  .type{
   position: relative;
   margin-bottom: 15px;

   h4{
    font-size: 18px;
    font-weight: 500;
    color: #555;
   }
  }

  .value{
   margin-bottom: 30px;
   padding-bottom: 30px;
   border-bottom: 1px solid #eee;

   h3{
    font-size: 55px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    padding-left: 15px;

    span{
     font-size: 15px;
     position: absolute;
     top: 10px;
     left: 0;
    }
   }

   .per{
    font-size: 13px;
   }
  }

  .features{
   text-align: left;
   overflow: hidden;
   padding: 15px;

   ul{
    margin-bottom: 0;
   }

   li{
    margin-bottom: 15px;
    color: #777;
    font-size: 13px;

    &:last-child{
     margin-bottom: 0;
    }
   }
  }

  .order{
   margin-top: 30px;

   .butn{
    margin: 0;
    padding: 10px 30px;

    span{
     font-size: 13px;
     font-weight: 500;
    }
   }
  }

  &.active{
   box-shadow: 0px 15px 40px rgba(0,0,0,.1);
  }
 }
}

/* ----------------------------------------------------------------
     [ End Price ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 12 Start Testimonials ]
-----------------------------------------------------------------*/

.testimonials{

 .icon{
  width: 70px;
  margin-bottom: 30px;
 }

 .item{

  h6{
   font-size: 15px;
   font-weight: 700;
   color: $main-color;
   margin: 50px 0 15px;
   position: relative;

   &:after{
    content: '';
    width: 1px;
    height: 30px;
    background-color: #eee;
    position: absolute;
    left: 50%;
    top: -40px;
    opacity: .5;
   }

   span{
    display: block;
    color: #eee;
    font-style: italic;
    font-size: 13px;
    font-weight: 400;
    margin-top: 5px;
   }
  }

  p{
   color: #eee;
   font-size: 16px;
   font-weight: 200;
   word-spacing: 1px;
  }
 }

 .owl-theme .owl-nav [class*=owl-]{
  width: 40px;
  height: 40px;
  line-height: 35px;
  border-radius: 50%;
  background: rgba(255,255,255,.2);
  margin: 20px 5px 0;

  &:hover{
   background: $main-color;
  }
 }
}

.testimonials-grid{

 .item{
  background-color: #f7f7f7;
  padding: 50px 30px 80px;
  position: relative;
  z-index: 3;

  &:after{
   content: '';
   width: 96%;
   height: 96%;
   position: absolute;
   left: 2%;
   top: 2%;
   border: 1px solid #fcfcfc;
   z-index: -1;
  }

  .icon{
   position: absolute;
   bottom: 20px;
   right: 20px;
   z-index: -1;
   font-size: 60px;
   color: #f1f1f1;
   line-height: 1;
  }

  p{
   padding-bottom: 30px;
   margin-bottom: 30px;
   position: relative;
   border-bottom: 1px solid #eee;

   &:after{
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    background-color: #f7f7f7;
    position: absolute;
    bottom: -10px;
    left: 50px;
    transform: rotate(-45deg);
   }
  }

  .info{

   .img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 10px 30px rgba(0,0,0,.1);
    border: 2px solid #f6f6f6;
    float: left;
   }

   h6{
    padding-top: 10px;
    font-size: 14px;
    margin-left: 80px;

    span{
     margin-top: 5px;
     font-size: 12px;
     color: #999;
     font-style: italic;
    }
   }
  }
 }
}

.clients{

 a{
  opacity: .8;

  &:hover{
   opacity: 1;
  }
 }
}

/* ----------------------------------------------------------------
     [ End Testimonials ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 13 Start Blog ]
-----------------------------------------------------------------*/

.blog{

 .item{
  box-shadow: 0px 20px 30px rgba(0,0,0,.05);
  background: #fff;
  border-radius: 5px;

  .post-img{
   padding: 8px;
   position: relative;

   .img{
    overflow: hidden;
    box-shadow: 0px 10px 30px -10px rgba(0,0,0,.1);
   }

   &:hover{

    img{
     transform: scale(1.1,1.1);
    }
   }

   img{
    transition: all .5s;
   }

   .tag{
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    background-color: $main-color;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0,0,0,.2);

    .icon{
     font-size: 8px;
    }
   }
  }

  .cont{
   padding: 30px 15px 15px;
  }

  .info{
   margin-top: 15px;
   padding-top: 15px;
   border-top: 1px solid #eee;

   a{
    color: #999;
    font-weight: 600;
    font-size: 11px;

    .author{
     width: 20px;
     height: 20px;
     border-radius: 50%;
     overflow: hidden;
     margin: 0 5px -6px 0;
     position: relative;
    }

    .icon{
     font-size: 12px;
     margin-right: 2px;
    }
   }

   .right{
    float: right;
   }
  }

  h6{
   font-size: 18px;
   margin-bottom: 15px;
  }
 }
}

/* ----------------------------------------------------------------
     [ End Blog ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 14 Start Subscribe ]
-----------------------------------------------------------------*/

.subscribe{
 background-size: auto;
 background-repeat: repeat;

 h4{
  font-weight: 500;
  margin-bottom: 50px;
 }

 form{
  position: relative;
 }

 input{
  padding: 14px 10px;
  width: 100%;
  margin: auto;
  border: 0;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0px 10px 30px rgba(0,0,0,.1);
 }

 .butn{
  cursor: pointer;
  padding: 10px 0;
  width: 140px;
  border: 1px solid transparent;
  border-radius: 30px;
  position: absolute;
  top: 4px;
  right: -6px;
  box-shadow: 0px 10px 30px rgba(0,0,0,.1);
  background: linear-gradient(to right, $main-color , #e1284e);

  &:hover{
   border-color: $main-color;
  }
 }

 &.sbc-bg{

  .sub-title{
   color: $main-color;
  }

  h5{
   margin-bottom: 15px;
   letter-spacing: 2px;
  }

  p{
   margin-bottom: 50px;
  }

  input{
   background: transparent;
   border: 1px solid #eee;
   color: #eee;
  }
 }
}

/* ----------------------------------------------------------------
     [ End Subscribe ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 15 Start Contact-Info ]
-----------------------------------------------------------------*/

.page-contact-info{
 position: relative;

 .item{
  padding: 100px 0;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;

  &:last-child{
   border-right: 0;
  }

  .icon{
   font-size: 30px;
   color: $main-color;
   margin-bottom: 15px;
  }

  h6{
   font-size: 14px;
   text-transform: uppercase;
   letter-spacing: 1px;
   margin-bottom: 10px;
  }
 }
}

.bmtit{
 position: absolute;
 bottom: -7px;
 left: 0;
 width: 100%;
 text-align: center;

 span{
  padding: 0 30px;
  background-color: #fff;
  font-size: 12px;
  color: #999;
 }
}

/* ----------------------------------------------------------------
     [ End Contact-Info ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 16 Start Contact ]
-----------------------------------------------------------------*/

.page-contact{
 position: relative;
 border-bottom: 1px solid #eee;
}

.form{

 input,textarea{
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
  width: 100%;
  padding: 15px;
  border-radius: 30px;

  &:focus{
   border-color: #ddd;
  }
 }

 textarea{
  height: 160px;
  max-height: 160px;
  max-width: 100%;
 }

 .form-group{
  position: relative;
 }

 .help-block{

  li{
   color: #ce7373;
   font-size: 11px;
   font-weight: 500;
   position: absolute;
   top: 15px;
   right: 15px;
  }
 }
}

.page-social{
 text-align: center;

 a{
  padding: 12px 60px;
  border-radius: 30px;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  margin: 5px;
  transition: all .2s;

  &:hover{
   background-color: transparent;
   color: #555;
  }
 }
}

.page-map{
 background-color: #f7f7f7;

 #ieatmaps{
  height: 400px;
 }
}

/* ----------------------------------------------------------------
     [ End Contact ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 17 Start Footer ]
-----------------------------------------------------------------*/

.one-footer{
 background: #111;
 padding: 80px 0;

 .social{

  a{
   color: #fff;
   font-size: 13px;
   width: 35px;
   height: 35px;
   line-height: 35px;
   border-radius: 50%;
   background: #222;
   margin: 15px 5px;

   &:hover{
    background: $main-color;
   }
  }
 }

 p{
  color: #999;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
 }
}

.footer{
 background-color: #171717;
 padding: 50px 0 0;
 color: #eee;

 .title{

  h5{
   font-size: 12px;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 2px;
   border-bottom: 1px solid #333;
   padding-bottom: 10px;
   margin-bottom: 30px;
  }
 }

 .info{

  .logo{
   padding: 0;
   margin-bottom: 10px;
  }

  h6{
   font-size: 12px;
   font-weight: 300;
   letter-spacing: 1px;
   margin-bottom: 15px;

   i{
    color: $main-color;
   }
  }

  p{
   margin-bottom: 30px;
  }

  span{
   margin-right: 10px;
   font-size: 11px;
  }

  .icon{
   margin-right: 15px;
   font-size: 11px;

   &:hover{
    color: $main-color;
   }
  }
 }

 .las-post{

  .thum{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   overflow: hidden;
   float: left;
  }

  .cont{
   margin-left: 70px;
  }

  h6{
   font-weight: 500;
   font-size: 12px;
   margin-bottom: 5px;
   padding-top: 5px;
  }

  p{
   font-size: 11px;

   span{
    font-weight: bold;
   }
  }
 }

 .tags{

  span{
   padding: 7px 15px;
   font-size: 12px;
   font-weight: 500;
   text-transform: uppercase;
   background-color: rgba(255,255,255,.04);
   margin-bottom: 6px;
   margin-right: 2px;

   &:hover{
    background-color: $main-color;
   }
  }
 }

 .sub-footer{
  padding: 20px 0;
  margin-top: 50px;
  background-color: #131313;
 }
}

/* ----------------------------------------------------------------
     [ End Footer ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
   [ 18 Responsive ]
-----------------------------------------------------------------*/

@media screen and (max-width: $desk-md-screen){

 .mb-md50{
  margin-bottom: 50px;
 }

 .mb-md30{
  margin-bottom: 30px;
 }

 .mb-md15{
  margin-bottom: 15px;
 }

 .mb-md0{
  margin-bottom: 0;
 }

 .md-text-center{
 	text-align: center !important;
 }

 .bgimg-height{
  height: 400px;
 }

 .bg-fixed{
  background-attachment: scroll !important;
 }

 .navbar{
  padding-left: 15px;

  .navbar-collapse{
   max-height: 340px;
   overflow: auto;
   background: #111;
   text-align: center;
   padding: 10px 0;
  }

  .nav-link{
   margin: 10px auto !important;
   }
  }

  .nav-scroll{

   .navbar-collapse{

   .nav-link{
    color: #fff !important;
   }

   .active{
    color: $main-color !important;
   }
  }
 }

 .header{
  background-attachment: scroll !important;
  background-position: 50% 0% !important;

  .caption{

   h4{
    font-size: 30px;
   }

   h1{
    font-size: 45px;
    line-height: 1.4;
   }
  }
 }

 .price{

 	.item{
 		text-align: center;

 		.features{
 			text-align: center;
 		}
 	}
 }

 .subscribe.sbc-bg h5{
 	font-size: 22px;
 }
}

@media screen and (max-width: $tablet-sm-screen){

 .mb-sm50{
  margin-bottom: 50px;
 }

 .mb-sm30{
  margin-bottom: 30px;
 }

 .section-box h3{
  font-size: 25px;
  line-height: 1.3;
 }

 .hero .intro h3{
  font-size: 28px;
 }

 .hero .intro h4{
  font-size: 20px;
 }

 .subscribe h4{
  font-size: 20px;
  margin-bottom: 30px;
 }

 .bgimg-height-sm{
  height: 400px;
 }

 .header{

  .caption{

   h4{
    font-size: 16px;
   }

   h1{
    font-size: 22px;
   }

   p{
    font-size: 14px;
    margin-bottom: 15px;
   }

   .butn{
    	margin-top: 15px !important;
    }
  }
 }

 .portfolio .filtering span{
  margin-bottom: 10px;
 }
}

@media screen and (max-width: $mobile-xs-screen){

 .section-head h4{
  font-size: 18px;
 }

 .section-box .accordion .title h6{
  line-height: 1.5;
  font-size: 14px;
 }

 .section-box .half-content{
  padding: 15px;
 }

 .works .filtering{
  padding: 0;
 }

 .works .filtering .filter{
  border: 0;
  padding: 0;
 }

 .works .filtering span{
  margin: 0 0 5px;
 }
}
/*---------------------------------------------------------------
Project:	Home Office One Page Template
Version:	1.0
Last change:	04/06/2015
Assigned to:	moonhunters (moonhuntersteam@gmail.com)
Primary use:	Themeforest
---------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Preloader
        - #preloader
        - #status
3. Typography
        - h1
        - h2
        - h3
        - p
4. Navbar
        - .navbar
        - .navbar-default
        - .navbar-toggle
        - .navbar-right
        - .navbar-text
        - .navbar-brand>img
        - .top-nav-collapse

5. botron (for static.html)
        - .jumbotron
        - .jumbo
        - .title
6. Carousel (for slider.html)
        - .carousel-caption
        - .fill_1
        - .fill_2
        - .fill_3
7. Video (for video.html)
        - .youtube
8. Testimonial
        - .testimonial
        - .testimonial-border
        - .testimonial-text
        - blockquote
        - #quote-carousel
        - .carousel-inner
        - .item blockquote
9. About Us
        - .About-Us
        - .about-text
        - #text-aboutus
10. Counter
        - .counters
        - ul#example
        - ul#example li
        - ul#example li span
        - ul#example li.seperator
        - ul#example li p
11. What we do
        - .what-we
        - .file-text-icon
        - .file-text-icon:hover
        - .icons
        - .what_we_do
        - .webdesign
        - .copywriting
        - .coding
12. Animate numbers
        - .animate-numbers
        - .number
        - .counter
        - .count
        - .count1
        - .count2
        - .count3
        - .count4
13. Gallery
        - .images-gallery
        - .gallery
        - figure
        - figcaption
        - .modalDialog
        - .modalDialog:target
        - .modalDialog img
        - .close
14. Download
        - #home
        - .download
        - .down
15. Contact
        - .contact-us
        - .input-group .form-control
        - .form-control
        - .input-group-addon
        - form-control:focus
16. Google-maps
        - #map-canvas
17. Subscribe
        - #subscribe
        - .subs
        - #email
        - .form-control
        - .buttonSubscribe
        - .buttonSubscribe:hover
18. Footer
        - .footer
        - .footer-text
        - .social-icon
        - .social-icon li
        - .icon
        - .icon a
        - .icon a:hover
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Color codes]

    Body-color: #313131 (dark)
    jumbotron color: #ffffff (white)
    counter color: #7a9697 (green)
    testimonial color: #9b9b9b (grey)
    text-aboutus color: #fff (white)
    contact-us color: #313131; (dark)
    footer color: #486164 (green)
    btn-primary color: #c1a26e
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Typography]

Body copy:		Open Sans 700, 400, 100;
Input, textarea:	Arial, Helvetica, sans-serif;
-------------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 1. Body */
/*---------------------------------------------------------------*/




.pageOption {
 overflow: hidden;
 position: relative;
 margin: 0;
 width: 100vw;
 height: 50vh;
}

.option > .img1{ width: 70%; height: 52%; }


.option > .img2{ width: 80%; height: 50%; }
.option {
 overflow: hidden;
 position: absolute;

 width: 100vw;
 height: 100vh;
 transform: skewX(-55.98deg);

}
.option:first-child {
 left: -.25em;
 transform-origin: 100% 0;
 background-color: #4a0015;
}



.option:last-child {
 right: -.25em;
 transform-origin: 0 100%;
 background-color: #e3e3e1;
}

.img1{
 display: none;}

.img2 {
 display: none; }

.img2, .img1,  .option:after {
 transform: skewX(55.98deg);
 transform-origin: inherit;
}
.option:after {
 position: absolute;
 margin: .5em 1.65em;
 color: white;
 font-size: 24px;
 font-weight: 700;
 letter-spacing: 7px;
 text-align: center;
 padding: 0;
 text-transform: uppercase;
 content: attr(data-inf);

}

.option:first-child:after { top: 114px;
 left: 415px;
}
.option:last-child:after { right: 58%;
 bottom: 69%;
}

.bg-hell{

 background-color: white;
}





#d_lo{


 width: 0;
 height: 0;
 border-top: 600px solid #e3e3e1;
 border-right: 100vw solid transparent;
 z-index: 19;



}

#d_ru{
 position: absolute;
 width: 0;
 height: 0;
 border-bottom: 600px solid #4a0015;
 border-left: 100vw solid transparent;
 z-index: 19;
 transform: translateX(-100%);



}




#d_ru_2{


 position: absolute;
 top: -120px;;

 transform: translate(-100% , 20%);
 background-image: url('/home/max/Desktop/Autoebner/reifenhotel/index/images/reifen_rot.png');

}
#parent{

 position: relative;
}

.overlay_fb{

 position: relative;
 top: -400px;
 left:250px;
 font-size: 24px;
 font-weight: 700;
 letter-spacing: 7px;
 text-align: center;
 color: #433f3e;
 text-transform: capitalize;
 padding: 0;
 margin: 0;
}


.overlay_ig{

 position: relative;
 top: 334px;
 right: 398px;
 font-size: 24px;
 font-weight: 700;
 letter-spacing: 7px;
 text-align: center;
 color: #fff;
 text-transform: capitalize;
 padding: 0;
 margin: 0;
}



#statistic-1 {
 padding-top: 80px;
 padding-bottom: 40px;
}

#statistic-2 {
 padding-top: 80px;
 padding-bottom: 40px;
}

/*------------------------------------------*/
/*	  STATISTIC BLOCK
/*------------------------------------------*/

.statistic-block {
 margin-bottom: 40px;
}

#statistic-1 .statistic-block h4 {
 font-weight: 400;
 letter-spacing: 0;
 margin-bottom: 20px;
}

#statistic-2 .statistic-block h4 {
 font-weight: 400;
 letter-spacing: 0;
 margin-top: 15px;
 margin-bottom: 0;
}


.statistic-number {
 font-size: 4rem;
 line-height: 1;
 letter-spacing: -2px;
 font-weight: 700;
}
#counter{
 padding-top: 60px;
}


.h4-lg{

 margin-bottom: 30px;

}

.opening  {

 display: flex;
 flex-direction: row;
 justify-content: center;
 text-align: center;
 font-weight: 400;
 font-size: 12px;
 line-height: 180%;
 color: #433f3e;
 margin-bottom: 35px;

}


.opening > li {

 padding: 15px;
}
.opening > li > a{
 font-weight: 400;
 font-size: 14px;
 line-height: 180%;
 color:  white;
 margin-bottom: 35px;
}


.opening > li {


 font-weight: 400;
 font-size: 14px;
 line-height: 180%;
 color: #433f3e;
 margin-bottom: 35px;
}
.milestone-details {
 font-weight:bold;
 font-size:18px;
 color:#999;
}


p.p-lg {
 font-size: 1.25rem;
 color: white;
}

body{
 color: #313131;
 font-family: 'Open Sans', sans-serif;
 height: 100%;
 overflow: scroll;
 overflow-x: hidden !important;
}

.btn-primary {
 background-color: transparent;
 border-color: #fff;
 border: solid 2px;
 color: #fff;
 font-weight: 700;
 font-size: 14px;
 text-transform: uppercase;
 letter-spacing: 2px;
}

.btn-primary:hover {
 color: #000;
 background-color: #fff;
 border: solid 2px #fff;
}

.btn-primary0 {
 color: #313131;
 background-color: rgba(255,255,255,0.6);
 border: solid 2px rgba(255,255,255,0.6);
 font-weight: 700;
 font-size: 14px;
 text-transform: uppercase;
 letter-spacing: 2px;
}

.btn-primary1 {
 color: #fff;
 background-color: transparent;
 border: solid 2px #fff;
 font-weight: 700;
 font-size: 14px;
 text-transform: uppercase;
 letter-spacing: 2px;
}

.btn-primary1:hover {
 color: #313131;
 background-color: #fff;
 border: solid 2px #fff;

}


.btn-lg, .btn-group-lg>.btn {
 padding: 12px 25px;
}
/*---------------------------------------------------------------*/
/* 2. preloader */
/*---------------------------------------------------------------*/

#preloader {
 position:fixed;
 top:0;
 left:0;
 right:0;
 bottom:0;
 background-color:#fff;
 z-index:99;
}

#status {
 width:200px;
 height:200px;
 position:absolute;
 left:50%;
 top:50%;
 background-image: url(../images/status.gif); /* path to your loading animation */
 background-repeat: no-repeat;
 background-position: center;
 margin:-100px 0 0 -100px;
}
/*---------------------------------------------------------------*/
/*  preloader-end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 3. typography */
/*---------------------------------------------------------------*/
h1 {
 font-weight: 300;
 font-size: 36px;
 margin-bottom: 30px;
}

h2 {
 margin-bottom: 35px;
}

h3 {
 font-weight: 400;
 font-size: 24px;
 color: #3f3f3f;
 margin-bottom: 30px;
}

p {
 font-weight: 400;
 font-size: 14px;
 line-height: 180%;
 color: #313131;
 margin-bottom: 35px;
}

/*---------------------------------------------------------------*/
/* typography-end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 4. navbar */
/*---------------------------------------------------------------*/
.navbar {
 min-height: 75px;
 margin-bottom: 25px;
}
.fa-bars{


 color: black;
}
.navbar-default {

 border-bottom: 1px solid #fff;
}

.navbar-default .navbar-toggle {
 background-image: url(../images/menu.svg);
 margin-top: 28px;
 border-color: transparent;
 background-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
 background-color: transparent;
}


.navbar-toggle {
 position: relative;
 float: right;
 padding: 9px 12px;
 margin-top: 8px;
 margin-right: 15px;
 background-color: white;
 background-image: none;

}

.navbar-default .navbar-nav>li>a {
 color: #433f3e;
 font-weight: 700;
 letter-spacing: 2px;
 font-size: 14px;
}

.navbar-default .navbar-nav>li>a:hover {
 color: grey;
 opacity: 0.8;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
 border-color: lightgrey;
 height: auto;
}

.navbar-right {
 margin-top: 10px;
}

.navbar-text {
 margin-top: 15px;
}

.navbar-default .navbar-text {
 color: #433f3e;
 font-weight: 700;
 font-size: 25px;
}


.navbar-nav>li>a {
 padding-top: 5px;
 padding-bottom: 5px;
 font-size: 12px;
 color: #433f3e;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
 /*border-bottom: 3px solid #c1a26e;*/
 background-color: white;
 color: #433f3e;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .close.navbar-nav>.active>a:focus {
 color: #433f3e;
 opacity: 0.9;
}

.container-fluid {


 background-color: white;
 padding-right: 15px;
 padding-left: 15px;
 margin-right: auto;
 margin-left: auto;
 margin-top: 0px;
 margin-bottom: 0px;
}
.container-fluidk {

 background-color: #433f3e;

 padding-right: 15px;
 padding-left: 15px;
 margin-right: auto;
 margin-left: auto;
 margin-top: 0px;
 margin-bottom: 0px;
}
.navbar-default .navbar-brand {

 height: 74px;
}

.navbar-default .navbar-brand:hover {
 background-color: #e3dedd;
}

.navbar-brand>img {
 display: block;
 /*width: 100%;*/
 margin-top: 8px;
 margin-left: 45px;
 padding-right: 50px;
}

.nav>li>a {
 display: inline;
}

.navbar-nav>li>a {
 line-height: 50px;
}

.top-nav-collapse {
 padding: 0;
 background-color: #313131;
 opacity: 0.7;
}
/*---------------------------------------------------------------*/
/* navbar-end */
/*---------------------------------------------------------------*/

.scroll-top-wrapper {
 position: fixed;
 opacity: 0;
 visibility: hidden;
 overflow: hidden;
 text-align: center;
 z-index: 99999999;
 background-color: #777777;
 color: #eeeeee;
 width: 50px;
 height: 48px;
 line-height: 48px;
 right: 30px;
 bottom: 30px;
 padding-top: 2px;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 border-bottom-right-radius: 10px;
 border-bottom-left-radius: 10px;
 -webkit-transition: all 0.5s ease-in-out;
 -moz-transition: all 0.5s ease-in-out;
 -ms-transition: all 0.5s ease-in-out;
 -o-transition: all 0.5s ease-in-out;
 transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
 background-color: #888888;
}
.scroll-top-wrapper.show {
 visibility:visible;
 cursor:pointer;
 opacity: 1.0;
}
.scroll-top-wrapper i.fa {
 line-height: inherit;
}

/*---------------------------------------------------------------*/
/* 5. jumbotron */
/*---------------------------------------------------------------*/
.jumbotron {
 margin-bottom: 0px;
 background-image: url('/home/max/Desktop/Autoebner/reifenhotel/index/images/reifen_rot.png');
 background-size: cover;
 background-repeat: no-repeat;
 height: 960px;
 background-position: top;

}

.jumbo  {
 padding-top: 330px;
 text-align: center;
 color: #fff;
}

.jumbotron h2 {
 font-size: 58px;
 font-weight: 700;
 letter-spacing: 30px;
 display: inline-block;
}

.jumbotron p {
 margin-bottom: 18px;
 font-size: 25px;
 font-weight: 100;
 color: #fff;
}

.title {
 display: inline;
}

/*---------------------------------------------------------------*/
/* 6. carousel */
/*---------------------------------------------------------------*/
.carousel,
.item,
.active {
 height: 100%;
}

.carousel-inner {
 height: 100%;
}

.carousel-caption {
 position: absolute;
 right: 15%;
 bottom: 20px;
 left: 15%;
 z-index: 10;
 padding-top: 20px;
 padding-bottom: 20px;
 color: #fff;
 text-align: center;
 text-shadow: 0 0px 0px rgba(0, 0, 0, .0);
}

.fill_1 {
 background-image: url('../images/b3.jpg');
 width: 100%;
 height: 100%;
 background-position: center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;
 -o-background-size: cover;
}

.fill_2 {
 background-image: url('../images/b2.jpg');
 width: 100%;
 height: 100%;
 background-position: center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;
 -o-background-size: cover;
}

.fill_3 {
 background-image: url('../images/b1.jpg');
 width: 100%;
 height: 100%;
 background-position: center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;
 -o-background-size: cover;
}

.item h3 {
 font-size: 68px;
 font-weight: 700;
 letter-spacing: 30px;
 margin-bottom: 40px;
 display: inline-block;
 color: #e3dcd6;
 text-transform: uppercase;
}

.yt h4  {
 font-weight: 100;
 font-size: 25px;
 margin-top:0px;
 margin-bottom: 40px;
 color: #fff;
}

.yt h5  {
 font-size: 68px;
 font-weight: 700;
 letter-spacing: 30px;
 margin-bottom: 40px;
 display: inline-block;
 color: #e3dcd6;
 text-transform: uppercase;
}

.yt p {
 font-weight: 100;
 font-size: 25px;
 margin-top:0px;
 margin-bottom: 320px;
 color: #fff;
}

.button-yt {
 display: inline;
}

.button-yt p {
 margin-top:5px;
 display: inline-block;
 padding: 5px;
 margin-bottom: 250px;
}

/*---------------------------------------------------------------*/
/* carousel-end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 7. video */
/*---------------------------------------------------------------*/

.youtube {
 width: auto;
 height: 1050px;
 text-align: center;
 color: #fff;
}

.youtube-gallery {
 width: auto;
 height: 400px;
 text-align: center;
 color: #fff;
}

.yt h3 {
 margin-top: 370px;
 font-size: 68px;
 font-weight: 700;
 letter-spacing: 25px;
 margin-bottom: 40px;
 display: inline-block;
 color: #fff;
 text-transform: uppercase;
}

.yt h2 {
 font-weight: 100;
}

.yt p {
 font-size: 25px;
}

.button-yt {
 display: inline;
}
/*---------------------------------------------------------------*/
/* video-end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 8. testimonial */
/*---------------------------------------------------------------*/
.testimonial {
 background-color: rgba(227, 222, 221, 0.3);
 margin-top: -260px;
}

.testimonial-border {
 border-top: 2px solid #313131;
 width: 50px;
 padding-bottom: 15px;
 margin: 0 auto;
}

.testimonial-border-white {
 border-top: 2px solid #fff;
 width: 50px;
 padding-bottom: 15px;
 margin: 0 auto;
}
.testimonial-border-grey {
 border-top: 2px solid #433f3e;
 width: 50px;
 padding-bottom: 15px;
 margin: 0 auto;
}
.testimonial-border-us {
 border-top: 2px solid #aba7a8;
 width: 50px;
 padding-bottom: 10px;
 margin: 0 auto;
}

.testimonial-border-numbers {
 border-top: 2px solid #d1c0b8;
 width: 40px;
 padding-bottom: 10px;
 padding-top: 10px;
 margin: 0 auto;
}

.testimonial-text  {
 font-size: 12px;
}

blockquote {
 padding: 20px 20px;
 margin: 0 0 20px;
 font-size: 13px;
 font-style: italic;
}

#quote-carousel {
 padding: 0 10px 10px 10px;
 margin-top: 30px;
}

#quote-carousel .carousel-control {
 background: none;
 color: #313131;
 font-size: 2.3em;
 text-shadow: none;
 margin-top: 0px;
}

.carousel-inner {
 min-height: 220px;
 color: #313131;
 line-height: 180%;
 text-align: center;
}

.item h2 {
 margin-top: 1px;
 margin-bottom: 15px;
 font-weight: 700;
 font-style: normal;
 font-size: 18px;
 letter-spacing: 5px;
}

.item blockquote {
 border-left: none;
 margin: 0;
}

blockquote footer, blockquote small, blockquote .small{
 margin-top: 20px;
 font-size: 10px;
 color: #313131;
 font-style: normal;
 font-weight: 700;
 letter-spacing: 3px;
 text-transform: uppercase;
}
/*---------------------------------------------------------------*/
/* testimonial-end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 9. about us */
/*---------------------------------------------------------------*/
.About-Us {
 background-color: #4a0015;
}

.about-text {
 padding-top: 70px;
 padding-bottom: 50px;
 text-align: center;
 padding-left: 120px;
 padding-right: 120px;
 background-color: #4a0015;
 color: #fff;
 font-size: 13px;
}

.about-text h2 {
 font-weight: 700;
 font-size: 18px;
 margin-bottom: 20px;
 letter-spacing: 5px;
 text-transform: uppercase;
}

.about-text h3 {
 letter-spacing: 4px;
 text-transform: uppercase;
 font-size: 10px;
 color: #fff;
 text-align: center;
}

#text-aboutus {
 color: #fff;
 padding-top: 20px;
}

/*---------------------------------------------------------------*/
/* about us end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 9. Our-Team */
/*---------------------------------------------------------------*/
.our-team {
 background-color: #e6e6e6;
}

.our-team h2 {
 text-align: center;
 color: #313131;
 font-weight: 700;
 font-size: 18px;
 letter-spacing: 7px;
 text-transform: uppercase;
 padding-top: 80px;
}

.team-text {
 padding-top: 70px;
 padding-bottom: 100px;
 padding-right: 100px;
 padding-left: 100px;
 text-align: center;
 color: #313131;
 font-size: 13px;
}

.team-text-down {
 margin-top: -100px;
}

.team-text h2 {
 color: #313131;
 font-weight: 700;
 font-size: 14px;
 letter-spacing: 4px;
 margin-bottom: 20px;
 text-transform: uppercase;
 text-align: center;
 padding-top: 20px;
}

.team-text h4 {
 color: #313131;
 font-weight: 700;
 font-size: 12px;
 letter-spacing: 2px;
 margin-bottom: 10px;
 text-transform: uppercase;
 text-align: center;
}

.team-text p {
 margin-bottom: 5px;

}

.photo {
 border: 1px solid #313131;
}

/*---------------------------------------------------------------*/
/* Our Team end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* plans and pricing */
/*---------------------------------------------------------------*/

.plans-background{
 background-color: white;
}

.plans-pricing h2 {
 margin-top: 120px;
 margin-bottom: 25px;
 font-weight: 700;
 font-size: 18px;
 letter-spacing: 5px;
 text-transform: uppercase;
 color: black;
 text-align: center;
}

.plans-border {
 border: 2px solid #c6bfa1;
 margin: 125px;
 padding: 20px;
 text-align: center;
 color: #fff;
 margin-top: 80px;
}

.plans-border2 {
 border: 2px solid #ffffff;
 margin: 125px;
 padding: 20px;
 text-align: center;
 color: #fff;
 margin-top: 80px;
}

.plans-border3 {
 border: 2px solid #e4e5e5;
 margin: 125px;
 padding: 20px;
 text-align: center;
 color: #fff;
 margin-top: 80px;
}

.plans h2 {
 font-size: 80px;
 font-weight: 100;
 margin-bottom: 5px;
}

.plans h4 {
 color: #e8e4e3;
 text-transform: uppercase;
 font-size: 12px;
 letter-spacing: 2px;
}

.plans h3 {
 font-weight: 700;
 color: #fff;
 text-transform: uppercase;
 font-size: 16px;
 letter-spacing: 3px;
 padding-top: 50px;
}

.plans p {
 color: #f3f2f0;
 padding: 2px;
 margin-bottom: 0px;
 text-transform: uppercase;
}

.btn-plans1 {
 border: 2px solid #fff;
 margin: 0 auto;
 color: #fff;
 margin-top: 50px;
 margin-bottom: 20px;
}

.btn-plans1:hover {
 border: 2px solid #fff;
 margin: 0 auto;
 color: #313131;
 background-color: #fff;
 margin-top: 50px;
 margin-bottom: 20px;
}

/*---------------------------------------------------------------*/
/* plans and pricing end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 10. counter */
/*---------------------------------------------------------------*/


.counters {

 padding:  0;
 text-align: center;



}

/*
.counters:before{

    content: "";
    position: absolute;
    top: 0%;
    left: -99px;
    width: 0px;
    height: 0;
    border-bottom: 605px solid #e3e3e1;
    border-left: 100px solid transparent;

}*/
.counters h2 {
 color: #433f3e;
 font-weight: 700;
 letter-spacing: 5px;
 font-size: 18px;
 margin-top: 35px;
 margin-bottom: 20px;
}

.counters h3 {
 color: #433f3e;
 font-weight: 100;
 font-size: 18px;
 padding-bottom: 30px;
}

ul#example {
 list-style: none;
 margin: 10px 0;
 padding: 0;
 display: block;
 text-align: center;
 color: #fff;
}

ul#example li { display: inline-block; }

ul#example li span {
 font-size: 72px;
 font-weight: 100;
 line-height: 80px;
 padding: 20px;
}

ul#example li.seperator {
 font-size: 55px;
 line-height: 70px;
 vertical-align: top;
}

ul#example li p {
 color: #fff;
 font-size: 14px;
 font-weight: 700;
 padding-top: 12px;
 padding-bottom: 50px;
}
#example{


}
/*---------------------------------------------------------------*/
/* 11. what we do */
/*---------------------------------------------------------------*/
.what-we {
 background-color:#e3e3e1;
}
.what-we-do {
 background-color: #433f3e;
}

.file-text-icon {
 color: #848484;
 padding-top: 50px;
 padding-left: 50px;
 padding-bottom: 50px;
 padding-right: 50px;
 border: 2px solid #aba7a8;
 border-radius: 90%;
 background-repeat: no-repeat;
}

.file-text-icon:hover {
 color: #313131;
 background-color: #aba7a8;
}

.icons {
 padding: 0 20px 20px 20px;
 text-align: center;
 margin-bottom: 20px;
}


.what_we {
 text-align: center;
 margin-top: 50px;

}

.what_we_do {
 text-align: center;
 margin-top: 50px;

}

.what_we_do h2 {
 font-weight: 700;
 font-size: 18px;
 letter-spacing: 7px;
 text-transform: uppercase;
 padding-top: 50px;
 color: white;
}
.what_we h2 {
 font-weight: 700;
 font-size: 18px;
 letter-spacing: 7px;
 text-transform: uppercase;
 padding-top: 50px;

}
.what {
 margin-top: 20px;
 text-align: center;
 margin-bottom: 45px;
}
.what h2 {
 text-align: center;
 font-weight: 700;
 letter-spacing: 3px;
 font-size: 14px;
 text-transform: uppercase;
}

.webdesign {
 padding-left: 35px;
 padding-right: 35px;
 margin-bottom: 50px;
}

.copywriting {
 padding-left: 35px;
 padding-right: 35px;
 margin-bottom: 40px;
}

.coding {
 padding-left: 35px;
 padding-right: 35px;
 margin-bottom: 40px;
}
/*---------------------------------------------------------------*/
/* what we do - end*/
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 12. animate-numbers*/
/*---------------------------------------------------------------*/
.animate-numbers {
 height: auto;
}

.number {
 text-align: center;
 font-size: 22px;
}

.counter {
 color: #fff;
 font-size: 60px;
 font-weight: 100;
 display: inline;
 padding-right: 10px;
}

.number h2{
 /*display: inline-block;*/
 font-weight: 100;
 font-size: 40px;
 color: #fff;
 padding-right: 10px;
}

.number p{
 /*display: inline-block;*/
 color: #fff;
 font-size: 14px;
 text-transform: uppercase;
 letter-spacing: 3px;
}

.count {
 padding-top: 50px;
 padding-bottom: 7px;
}

.count1 {
 background-color: #c2a592;
}
.count2 {
 background-color: #c2a592;
}
.count3 {
 background-color: #c2a592;
}
.count4 {
 background-color: #c2a592;
}

/*---------------------------------------------------------------*/
/* 13. gallery*/
/*---------------------------------------------------------------*/
.images-gallery{
 position:relative;
 padding: 0;
 height: 80%;
}

.gallery-box {
 padding-left: 0px;
 padding-right: 0px;
 background-color: #000;
}

.gallery {
 height:600px;
 background-color: white;
}

.border{

 border-right: 1px solid grey;

}
#gallery h1{
 position: relative;
 top: 250px;
 font-size: 18px;
 font-weight: 700;
 letter-spacing: 7px;
 text-align: center;
 color: black;
 text-transform: capitalize;
 padding: 0;
 margin: 0;
}

.h2_fig, .h2_service, .h2_ebner, .h2_shop{
 position: relative;
 top: 250px;
 font-size: 18px;
 font-weight: 700;
 letter-spacing: 7px;
 text-align: center;
 color: #fff;
 text-transform: capitalize;
 padding: 0;
 margin: 0;
}


.lupa {
 position: relative;
 width: 130%;

}

figure {
 height: 150px;
 width: 150px;
 display: block;
 overflow: hidden;
 z-index: 100;

}

figcaption {
 height: 600px;
 width: 100%;
 text-align: center;
 position: absolute;
 bottom: 0;
 opacity: 0;
 padding: 5px;

}

.sort-gallery a {
 color: #fff;
 font-weight: 400;
 font-size: 24px;
 text-align: center;
}

a:hover #team {
 opacity: 1;
 top: 0px;
 background-color: #4a0015;
 height: 600px;
 color: #433f3e;

}

a:hover #team > .h2_fig{

 color: white;

}
a:hover #team > img{

 top: 330px;
 left: -7px;


}

a:hover #service {
 opacity: 1;
 top: 0px;
 background-color: #e3e3e1;
 height: 600px;
 color: #433f3e;

}

a:hover #service > .h2_service{

 color: black;

}
a:hover #service > img{

 top: 360px;

}

a:hover #ebner {
 opacity: 1;
 top: 0px;
 background-color: #433f3e;
 height: 600px;
 color: #433f3e;

}

a:hover #ebner > .h2_ebner{

 color: white;

}
a:hover #ebner > img{

 top: 300px;
 width: 100%;

}

a:hover #shop {
 opacity: 1;
 top: 0px;
 background-color: #e3dac9;
 height: 600px;
 color: #433f3e;

}

a:hover #shop > .h2_shop{

 color: black;

}
a:hover #shop > img{

 top: 320px;
 width: 90%;

}
/*---------------------------------------------------------------*/
/* modal*/
/*---------------------------------------------------------------*/
.modalDialog {
 position: fixed;
 font-family: Arial, Helvetica, sans-serif;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 background: rgba(255,255,255, 0.7);
 z-index: 99999;
 opacity:0;
 -webkit-transition: opacity 400ms ease-in;
 -moz-transition: opacity 400ms ease-in;
 transition: opacity 400ms ease-in;
 pointer-events: none;
}

.modalDialog:target {
 opacity:1;
 pointer-events: auto;
}

.modalDialog > div {
 width: 1090px;
 height: 800px;
 color: #000;
 position: relative;
 margin: 7% auto;
 padding: 5px 20px 13px 20px;
}

.modalDialog p {
 color: #000;
 margin-top: 7px;
}

.modalDialog img {
 height: 79%;
}

.close {
 color: #aba7a8;
 line-height: 25px;
 position: absolute;
 right: -26px;
 text-align: center;
 top: -10px;
 width: 24px;
 text-decoration: none;
 font-weight: normal;
 font-size: 30px;
 -webkit-transition: all 1.3s ease-in-out;
 -moz-transition: all 1.3s ease-in-out;
 -o-transition: all 1.3s ease-in-out;
 -ms-transition: all 1.3s ease-in-out;
}


.close:hover {
 color: #7a9697;
 -webkit-transform: rotate(360deg);
 -moz-transform: rotate(360deg);
 -o-transform: rotate(360deg);
 -ms-transform: rotate(360deg);
}
/*---------------------------------------------------------------*/
/* gallery-end*/
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 14. download */
/*---------------------------------------------------------------*/
#home {
 /*background: url(../images/blured.jpg) 50% 0 fixed;*/
 background-color: #e9b998;
 height: auto;
 margin: 0 auto;
 width: 100%;
 position: relative;
}

.download {
 text-align: center;
}

.download h2 {
 color: white;
 padding-top: 50px;
 font-weight: 700;
 font-size: 18px;
 text-transform: uppercase;
 letter-spacing: 10px;
}



.down {
 margin-bottom: 75px;
}

/*---------------------------------------------------------------*/
/* download end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 15. Contact*/
/*---------------------------------------------------------------*/
.contact-background {
 background-color: #84818b;
}

.contact-us {
 text-align: center;
 color: #fff;
}

.contact-us h2 {
 margin-top: 120px;
 margin-bottom: 25px;
 font-weight: 700;
 font-size: 18px;
 letter-spacing: 5px;
 text-transform: uppercase;
}

.contact-us .testimonial-border-white {
 margin-bottom: 40px;
}

.input-group .form-control {
 margin-bottom: 10px;
}

.form-control {
 display: block;
 width: 100%;
 height: 50px;
 padding: 0px 0px;
 font-size: 14px;
 line-height: 1.42857143;
 color: #313131;
 background-color: #84818b;
 background-image: none;
 /*border: transparent;*/
 border: 1px solid #fff;

}

.input-group-addon {
 padding: 6px 12px;
 font-size: 0px;
 line-height: 1;
 color: transparent;
 text-align: center;
 background-color: transparent;
 border: 1px solid transparent;
 border-radius: 0px;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn-group:not(:last-child)>.btn {
 padding:10px;
 color: #313131;
}

.form-control:focus {
 border-color: #e9b998;
 outline: 0;
 -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0),0 0 0px rgba(0, 0, 0, 0);
 box-shadow: inset 0 1px 1px rgba(0,0,0,.0),0 0 8px rgba(0, 0, 0, 0);
}

.contact .contact-btn {
 color: #fff;
 background-color: transparent;
 border: 1px solid #fff;
 font-weight: 700;
 font-size: 12px;
 padding: 8px 30px;
 margin-bottom: 80px;
 height: 40px;
 text-transform: uppercase;
 margin-right: 25px;
}

.contact .contact-btn:hover {
 color: #313131;
 background-color: #fff;
 border: solid 2px #fff;
}

.address {
 margin-top: -20px;
}

.h2-contact {
 color: #fff;
 font-weight: 700;
 letter-spacing: 4px;
 text-transform: uppercase;
 font-size: 16px;
}

.lead {
 font-size: 16px;
 font-weight: 400;
 color: rgba(255, 255, 255, 0.9)
}

.btn:hover, .btn:focus, .btn.focus {
 /*color: rgba(255, 255, 255, 0.3);*/
 /*text-decoration: none;*/
}

hr {
 margin-top: 60px;
 margin-bottom: 20px;
 border: 0;
 border-top: 0px solid;
}

.form-control::-webkit-input-placeholder { color: #a9a9a9; }
.form-control:-moz-placeholder { color: #a9a9a9; }
.form-control::-moz-placeholder { color: #a9a9a9; }
.form-control:-ms-input-placeholder { color: #a9a9a9; }
/*---------------------------------------------------------------*/
/* contact-end*/
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 16. Google-maps*/
/*---------------------------------------------------------------*/
.mapa{
 padding-left:0px;
 padding-right: 0px;
}

#map {
 width: 100%;
 height: 500px;

}
/*---------------------------------------------------------------*/
/*  Google-maps-end*/
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 17. subscribe */
/*---------------------------------------------------------------*/
#subscribe {
 background-color: #f8f6f5;
}

.subs {
 text-align: center;
 margin-top: 35px;
 margin-bottom: 35px;
}

.subs h2 {
 text-transform: uppercase;
 font-weight: 700;
 font-size: 18px;
 letter-spacing: 7px;
 margin-bottom: 20px;
}

#email {
 width: 400px;
 background-color: transparent;
 margin-bottom: 25px;
 border-top: transparent;
 border-left: transparent;
 border-right: transparent;
 border-bottom: 2px solid #313131;
 font-size: 14px;
 display: inline;
}

.form-control {
 padding-left: 0px;

}

.buttonSubscribe {
 color: #313131;
 background-color: transparent;
 font-weight: 700;
 font-size: 12px;
 padding: 8px 30px;
 margin-top: 30px;
 margin-bottom: 30px;
 height: 40px;
 text-transform: uppercase;
 display: inline-block;
 border-color: transparent;
}

.buttonSubscribe:hover {
 color: #313131;
}


/*---------------------------------------------------------------*/
/* 14 footer*/
/*---------------------------------------------------------------*/
.footer {
 height: 100px;
 background-color: #e3e3e1;
}

.footer h4 {
 color: #433f3e;
 text-align: right;
 margin-top: -45px;
 margin-right: 50px;
 font-weight: 400;
 font-size: 14px;
 letter-spacing: 5px;
}

.footer-text {
 position: relative;
 text-align: right;
}

.social-icon {
 display: table;
 margin-top: 15px;
}

.social-icon li {
 display: table-cell;
 /*text-align: right;*/
 padding: 10px;
}

#footerPinterest, #footerFacebook, #footerTwitter {
 font-size: 28px;
 color: #433f3e;
}






.icon {
 list-style: none;
 display: inline-block;
 height: 30px;
 width: 41px;
 vertical-align: middle;
 margin: 0;
 padding: 10px;
}

.icon a {
 display: block;
 background-size: 33px, 33px;
 width: 33px;
 height: 33px;
 opacity: 0.8;
 -webkit-transition: all 0.5s ease-in-out;
 -moz-transition: all 0.5s ease-in-out;
 -o-transition: all 0.5s ease-in-out;
 -ms-transition: all 0.5s ease-in-out;

}

.icon a:hover {
 opacity: 0.9;
 -webkit-transform: scale(1.2,1.2);
 -moz-transform: scale(1.2,1.2);
 -o-transform: scale(1.2,1.2);
 -ms-transform: scale(1.2,1.2);
}

.social-icon-team {
 display: table;
 margin: 0 auto;
 margin-top: 7px;
 margin-bottom: 7px;
 padding: 0px;
}

.footerPinterestteam {
 background-image: url('../images/social-icons/grey/pinterest.png');
}

.footerFacebookteam {
 background-image: url('../images/social-icons/grey/facebook.png');
}

.footerTwitterteam {
 background-image: url('../images/social-icons/grey/twitter.png');
}

.icon-team {
 list-style: none;
 display: inline-block;
 height: 30px;
 width: 41px;
 vertical-align: middle;
 margin: 0;
 margin: 10px
}

.icon-team a {
 display: block;
 background-size: 33px, 33px;
 width: 33px;
 height: 33px;
 opacity: 0.6;
 -webkit-transition: all 0.5s ease-in-out;
 -moz-transition: all 0.5s ease-in-out;
 -o-transition: all 0.5s ease-in-out;
 -ms-transition: all 0.5s ease-in-out;

}

.icon-team a:hover {
 opacity: 0.9;
 -webkit-transform: scale(1.2,1.2);
 -moz-transform: scale(1.2,1.2);
 -o-transform: scale(1.2,1.2);
 -ms-transform: scale(1.2,1.2);
}




/*---------------------------------------------------------------*/
/* footer-end*/
/*---------------------------------------------------------------*/
.bg-scroll {
 width: 100%;
 background-attachment: fixed !important;
 background-repeat: no-repeat;
 background-position: center center;

}

.padding-top{
 padding-top: 20rem;
}
.container {
 position: relative;
 overflow: hidden;
 z-index: 3;
}
.container-video{

 position: relative;
 overflow: hidden;
 z-index: 3;
 width: 100%;


}

#autoebner{


}
#autoebner .video-overlay {


}

/*------------------------------------------*/
/*	VIDEO PREVIEW IMAGE
/*------------------------------------------*/

.video-preview {
 position: relative;
 text-align: center;
}

/*------------------------------------------*/
/*	  Video Link Play Icon
/*------------------------------------------*/

.video-btn {
 width: 120px;
 height: 120px;
 display: inline-block;
}

.video-block {
 position: relative;
 width: 100%;
 height: 100%;
 display: inline-block;
 z-index: -40;
 opacity: 0.7;
}


.h2_video{


 font-weight: 700;
 letter-spacing: 5px;
 font-size: 24px;
 margin-top: 30px;
 margin-bottom: 20px;
 color: white !important;
}
.play-icon-white {
 width: 120px;
 height: 120px;
 background: url(../images/play-icon-white.png);
 position: absolute;
 top: 50%;
 left: 50%;
 margin-top: -60px;
 margin-left: -60px;
 opacity: 0.9;
 -webkit-transition: all 350ms ease-in-out;
 -moz-transition: all 350ms ease-in-out;
 -o-transition: all 350ms ease-in-out;
 -ms-transition: all 350ms ease-in-out;
 transition: all 350ms ease-in-out;
}


.play-icon-white {
 background: url(../images/play-icon-white.png);
}


.play-icon-white:hover{
 opacity: 1;
}

.ytp-cued-thumbnail-overlay-image {
 background-size: cover;
 -moz-background-size: cover;
 -webkit-background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 width: 100%;
 height: 100%;
 position: absolute;
}



h3.h3-hero-small {
 font-size: 1.5rem;
 font-weight: 500;
 letter-spacing: 0.5px;
 position: relative;
 margin-bottom: 3rem;
 color: white;
 line-height: 27px;
}


.facebook_logo > img{
 width: 50px;
 height: 50px;
}
.facebook_logo > p{
 color: #433f3e;
 font-size: 20px;
}
.facebook_logo{


 vertical-align: middle;
 text-align: left;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-bottom: 20px;
}
.fb-section{

 width: 100%;
 display: block;
 padding: 35px;
 background-color: white;

}
.facebook{
 text-align: center;
 width: 100%;
 display: table;
}

.facebook > p{

 color: #433f3e;
 font-size: 14px;
 padding-bottom: 18px;

}
.fb-btn{

 padding: 20px;
 background-color: #2b669a;
}
.fb-btn > a{

 color: white;
 font-size: 16px;


}
.insta-btn{

 padding: 15px;
 margin-top: 25px;
 background-color: #da1d49;
}
.insta-btn > a{

 color: white;
 font-size: 16px;


}

.fb_ebner{

 width: 100%;
 height: 100%;
 padding-bottom: 20px;
}




iframe{
 width:200%;
 height: 500px;
 opacity: 0.1;
 z-index: 5;
 margin: 0;
}
.navbar-light{

 background-color: white;
 opacity: 1;

}
.headroom {
 will-change: transform;
 transition: transform 200ms linear;

}



.headroom--pinned {
 transform: translateY(0%);
}
.headroom--unpinned {
 transform: scaleY(0) translateY(-150%);

}


.headroom--not-top.headroom--pinned {

}



.ueber_uns{
 width: 100%;
 height:545px;

}


/* responsive*/
/*---------------------------------------------------------------*/
@media only screen and (max-width: 1550px) {



 .pageOption > a {


  width: 1600px;
 }

 .option:first-child:after {     top: 189px;
  left:580px;

 }
 .option:last-child:after { right: 64%;
  bottom: 69%;
 }
 .jumbotron {
  height: 750px;
 }

 .jumbo  {
  padding-top: 200px;
 }

 .modalDialog > div {
  width: 785px;
  height: 600px;
  margin-top: 100px;
 }

 .modalDialog img {
  height: 80%;
 }

 #email {
  width: 300px;
 }

 .item h3 {
  font-size: 48px;;
 }

 .yt h4  {
  margin-bottom: 40px;
 }

 .yt h5  {
  font-size: 48px;
  letter-spacing: 30px;
  margin-bottom: 40px;
 }

 .yt p {
  font-size: 18px;
  margin-bottom: 200px;
 }

 .button-yt p {
  margin-bottom: 190px;
 }

 .youtube {
  height: 750px;
 }

 .yt h3{
  margin-top: 200px;
  font-size: 45px;
 }


 .plans-border {
  margin: 25px;
  margin-bottom: 50px;
 }
 .plans-border2 {
  margin: 25px;
  margin-bottom: 50px;
 }
 .plans-border3 {
  margin: 25px;
  margin-bottom: 50px;
 }
}





@media only screen and (max-width: 1250px) {
 .jumbotron {
  height: 550px;
 }

 .jumbo  {
  padding-top: 220px;
 }

 #email {
  width: 275px;
  background-color: transparent;
  margin-bottom: 25px;
  margin-left: 20px;
 }

 .subs .btn-primary {
  margin-left:20px;
 }

 .testimonial {
  margin-top: 0px;
 }

 .navbar-default .navbar-nav>li>a {
  letter-spacing: 1px;
  font-size: 11px;
 }

 .item h3 {
  font-size: 45px;
  letter-spacing: 20px;
 }

 .yt h4  {
  font-size: 25px;
  margin-bottom: 10px;
 }

 .yt h5  {
  font-size: 45px;
  letter-spacing: 20px;
  margin-bottom: 20px;
 }

 .yt p {
  font-size: 22px;
  margin-bottom: 150px;
 }

 .button-yt p {
  margin-bottom: 160px;
 }

 .youtube {
  height: 650px;
 }

 .yt h3 {
  margin-top: 300px;
  font-size: 38px;
 }

}


@media only screen and (max-width: 1290px) {

 .pageOption > a {
  width: 1250px;
 }


 .option > .img1{ width: 90%; height: 52%; }


 .option > .img2{ width: 60%; height: 50%; }

}
@media only screen and (max-width: 990px){


 .pageOption {
  overflow: hidden;
  position: relative;
  margin: 0;
  width: 100vw;
  height: 50vh;
 }

 .option > .img1{ width: 80%; height: 52%; }


 .option > .img2{ width: 70%; height: 50%; }
 .option {
  overflow: hidden;
  position: absolute;

  width: 100vw;
  height: 100vh;
  transform: skewX(-55.98deg);

 }
 .option:first-child {
  left: -.25em;
  transform-origin: 100% 0;
  background-color: #4a0015;
 }



 .option:last-child {
  right: -.25em;
  transform-origin: 0 100%;
  background-color: #e3e3e1;
 }

 .img1{
  display: none;}

 .img2 {
  display: none; }

 .img2, .img1,  .option:after {
  transform: skewX(55.98deg);
  transform-origin: inherit;
 }
 .option:after {
  position: absolute;
  margin: .5em 1.65em;
  color: white;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  padding: 0;
  text-transform: uppercase;
  content: attr(data-inf);

 }

 .option:first-child:after {     top: 89px;
  left:248px;

 }
 .option:last-child:after { right: 58%;
  bottom: 69%;
 }

 .pageOption > a {
  width: 950px;
 }

 .lupa {
  position: relative;
  width: 102%;
 }
 a:hover #team {
  opacity: 1;
  top: 0px;
  background-color: #4a0015;
  height: 600px;
  color: #433f3e;

 }

 a:hover #team > .h2_fig{

  color: white;

 }
 a:hover #team > img{

  top: 200px;
  left: -7px;


 }

 a:hover #service {
  opacity: 1;
  top: 0px;
  background-color: #e3e3e1;
  height: 600px;
  color: #433f3e;

 }

 a:hover #service > .h2_service{

  color: black;

 }
 a:hover #service > img{

  top: 360px;

 }

 .engine{

  width: 50%;
 }

 a:hover #ebner {
  opacity: 1;
  top: 0px;
  background-color: #433f3e;
  height: 600px;
  color: #433f3e;

 }

 a:hover #ebner > .h2_ebner{

  color: white;

 }
 a:hover #ebner > img{

  top: 300px;
  width: 46%;;

 }

 a:hover #shop {
  opacity: 1;
  top: 0px;
  background-color: #e3dac9;
  height: 600px;
  color: #433f3e;

 }

 a:hover #shop > .h2_shop{

  color: black;

 }
 a:hover #shop > img{

  top: 320px;
  width: 37%;

 }


}
@media only screen and (max-width: 750px) {


 .pageOption > a {


  width: 350px;

 }

 .pageOption {
  overflow: hidden;
  position: relative;
  margin: 0;
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
 }

 .option > .img1{
  width: auto;
  height: 50%; }


 .option > .img2{
  width: auto;
  height: 50%;
  position: absolute;
  left: -330%;
 }
 .option {
  overflow: hidden;
  position: absolute;
  width: 50vw;
  height: 100vh;
  transform: none;

 }
 .option:first-child {
  left: -.25em;
  transform-origin: 0;
  background-color: #4a0015;
 }



 .option:last-child {
  right: -.25em;
  transform-origin: 0 ;
  background-color: #e3e3e1;
 }

 .img1{
  display: none;}

 .img2 {
  display: none; }

 .img2, .img1,  .option:after {
  transform: none;
  transform-origin: inherit;
 }
 .option:after {
  position: absolute;
  margin: .5em 1.65em;
  color: white;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  padding: 0;
  text-transform: uppercase;
  content: attr(data-inf);

 }

 .option:first-child:after { top: 114px;
  left: 0px;
 }
 .option:last-child:after { right: -15px;
  bottom: 69%;
 }
 figure {
  height: 100px;
  width: 100px;
  display: block;
  overflow: hidden;
  z-index: 100;

 }

 figcaption {
  height: 300px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  opacity: 0;
  padding: 5px;

 }

 .sort-gallery a {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
 }

 #team {
  opacity: 1;
  top: 0 !important;
  background-color: #4a0015;
  height: 600px;
  color: #433f3e;

 }


 #team > img {
  top: 228px;
  left: -7px;
 }
 .lupa {
  position: relative;
  width: 102%;
 }
 .engine{

  position: relative;
  width: 71% !important;
 }

 #team > .h2_fig{

  color: white;

 }
 a:hover #team > img{

  top: 228px;
  left: -7px;


 }


 #service {
  opacity: 1;
  top: 0px;
  background-color: #e3e3e1;
  height: 600px;
  color: #433f3e;

 }

 #service > .h2_service{

  color: black;

 }
 #service > img{

  top: 360px !important;

 }

 #ebner {
  opacity: 1;
  top: 0px;
  background-color: #433f3e;
  height: 600px;
  color: #433f3e;

 }

 #ebner > .h2_ebner{

  color: white;

 }
 #ebner > img{

  top: 300px !important;
  width: 70%;

 }
 a:hover #ebner > img{

  top: 300px !important;
  width: 70%;


 }

 #shop {
  opacity: 1;
  top: 0px;
  background-color: #e3dac9;
  height: 600px;
  color: #433f3e;

 }

 #shop > .h2_shop{

  color: black;

 }
 #shop > img {
  top: 320px !important;
  width: 48%;
 }
 a:hover #shop > img{

  top: 320px !important;
  width: 48%;

 }


 .jumbotron {
  height: 450px;
 }

 .jumbo  {
  padding-top: 200px;
 }

 .jumbotron h2 {
  font-size: 24px;
 }

 .jumbotron p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 100;
  color: #fff;
 }

 ul#example li span {
  font-size: 30px;
  line-height: 45px;
 }

 .about-text {
  padding-right: 25px;
  padding-left: 25px;

 }

 .footer {
  height: 125px;
 }

 .footer h4 {
  text-align: center;
  margin-top: 50px;
  margin-right: 20px;
 }

 .social-icon {
  display: none
 }

 .modalDialog {
  display: none;
 }

 .item h3 {
  font-size: 35px;
  letter-spacing: 10px;
 }

 .yt h4  {
  font-size: 20px;
  margin-bottom: 10px;
 }

 .yt h5  {
  font-size: 35px;
  letter-spacing: 10px;
  margin-bottom: 20px;
 }

 .yt p {
  font-size: 18px;
  margin-bottom: 150px;
 }

 .button-yt p {
  margin-bottom: 130px;
 }

 .youtube {
  height: 450px;
 }

 .yt h3 {
  margin-top: 200px;
  font-size: 20px;
  letter-spacing: 5px;

 }

 .yt h2 {
  font-size: 30px;
 }

 .plans-border {
  margin: 70px;
  margin-bottom: 50px;
 }
 .plans-border2 {
  margin: 70px;
  margin-bottom: 50px;
 }
 .plans-border3 {
  margin: 70px;
  margin-bottom: 50px;
 }
}

@media only screen and (max-width: 500px) {

 .padding-top {
  padding-top: 0!important;
 }

 .pageOption > a {


  width: 150px;

 }
 .pageOption {
  overflow: hidden;
  position: relative;
  margin: 0;
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
 }

 .option > .img1{
  width: auto;
  position: absolute;
  left: -60px;
  height: 50%;

 }


 .option > .img2{
  width: auto;
  height: 50%;
  position: absolute;
  left: -800px;
 }
 .option {
  overflow: hidden;
  position: absolute;
  width: 50vw;
  height: 100vh;
  transform: none;

 }
 .option:first-child {
  left: -.25em;
  transform-origin: 0;
  background-color: #4a0015;
 }



 .option:last-child {
  right: -.25em;
  transform-origin: 0 ;
  background-color: #e3e3e1;
 }

 .img1{
  display: none;}

 .img2 {
  display: none; }

 .img2, .img1,  .option:after {
  transform: none;
  transform-origin: inherit;
 }
 .option:after {
  position: absolute;
  margin: .5em 1.65em;
  color: white;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  padding: 0;
  text-transform: uppercase;
  content: attr(data-inf);

 }

 .option:first-child:after { top: 26%;
  left: -10px;
 }
 .option:last-child:after { right: -23px;
  bottom: 69%;
 }

 .jumbotron h2 {
  font-size: 24px;
  letter-spacing: 5px;
 }



 .navbar-brand>img {
  margin-top: 11px;
 }

 .item h3 {
  font-size: 25px;
  letter-spacing: 4px;
 }

 .yt h4  {
  font-size: 16px;
  margin-bottom: 10px;
  letter-spacing: 5px;
 }

 .yt h5  {
  font-size: 25px;
  letter-spacing: 5px;
  margin-bottom: 20px;
 }

 .yt p {
  font-size: 14px;
  margin-bottom: 150px;
 }

 .button-yt p {
  margin-bottom: 10px;
 }

 .plans-border {
  margin: 20px;
  margin-bottom: 50px;
 }
 .plans-border2 {
  margin: 20px;
  margin-bottom: 50px;
 }
 .plans-border3 {
  margin: 20px;
  margin-bottom: 50px;
 }


 figure {
  height: 100px;
  width: 100px;
  display: block;
  overflow: hidden;
  z-index: 100;

 }

 figcaption {
  height: 300px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  opacity: 0;
  padding: 5px;

 }

 .sort-gallery a {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
 }

 #team {
  opacity: 1;
  top: 0px;
  background-color: #4a0015;
  height: 600px;
  color: #433f3e;

 }

 #team > .h2_fig{

  color: white;

 }
 #team > img{

  top: 330px;
  left: -7px;


 }

 a:hover #team > img{

  top: 330px;
  left: -7px;


 }


 #service {
  opacity: 1;
  top: 0px;
  background-color: #e3e3e1;
  height: 600px;
  color: #433f3e;

 }

 #service > .h2_service{

  color: black;

 }
 #service > img {
  top: 391px !important;
 }

 .engine {
  position: relative;
  width: 100% !important;
 }
 #ebner {
  opacity: 1;
  top: 0px;
  background-color: #433f3e;
  height: 600px;
  color: #433f3e;

 }

 #ebner > .h2_ebner{

  color: white;

 }
 #ebner > img{

  top: 300px;
  width: 100%;

 }

 #shop {
  opacity: 1;
  top: 0px;
  background-color: #e3dac9;
  height: 600px;
  color: #433f3e;

 }


 a:hover #ebner > img{

  top: 330px;
  width:100% !important;


 }

 #shop > .h2_shop{

  color: black;

 }
 #shop > img{

  top: 320px!important;
  width: 90% !important;

 }




 .facebook_logo > img {


  width: 30px;

  height: 30px;
  color: #433f3e;

  font-size: 14px;




 }

 .insta-logo > p {


  width: 30px;

  height: 30px;
  color: #433f3e;

  font-size: 12px !important;

  padding-right: 104px;



 }
 .facebook_logo > p {

  color: #433f3e;
  font-size: 16px;
  padding-left: 10px;

 }

 .fb-btn > a {

  color: white;
  font-size: 13px;

 }
 .fb-btn {

  padding: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #2b669a;

 }

 .insta-btn > a {

  color: white;
  font-size: 14px;

 }

 .insta-btn {

  padding: 10px;
  margin-top: 25px;
  background-color: #da1d49;

 }

 .opening  {

  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 180%;
  color: #433f3e;
  margin-bottom: 35px;

 }

 .about-text{

  padding-bottom: 0;
 }


 .ueber_uns{
  height:auto;
 }

 .opening{


  display: flex;
  justify-content: center;
 }
 .opening > li {

  padding: 15px;
 }
 .opening > li > a{
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color:  white;
  margin-bottom: 35px;
 }


 .opening > li {

  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #433f3e;
  margin-bottom: 35px;
 }

 .navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: lightgrey;
  height: 100vh;
 }

 .navbar-right {
  margin-top: 10px;
  display: flex;

  flex-direction: column;

  align-items: center;

  line-height: 64px;}



 .statistic-number {

  font-size: 3rem;
  line-height: 1;
  letter-spacing: -2px;
  font-weight: 700;

 }
}


/*---------------------------------------------------------------*/
/* responsive-end*/
/*---------------------------------------------------------------*/


.fa-clock{

 font-size: 36px;


}

ul, li{


 list-style: none;
}

.kontakt_h2{
 color: white !important;
}
.opening > li >i{
 padding-right: 15px;
}


.fa-map-marker, .fa-phone, .fa-globe{

 font-size: 20px!important;
 color:  white;

}


.navbar-brand{


 padding-top:10px !important;
}
