<template>
  <div id="app">
    <navigation></navigation>
    <hero title="Reifenhotel" subtitle="Ihr Reifenspezialist mit Bodenhaftung"></hero>
    <menusection></menusection>
    <openingtime></openingtime>
    <aboutus></aboutus>
    <contact></contact>
    <footersection></footersection>
  </div>
</template>

<script>
import Navigation from './components/Navigation.vue';
import Hero from './components/Hero.vue';
import Menusection from './components/Menu.vue';
import Openingtime from './components/Openingtimes.vue';
import Aboutus from './components/Aboutus.vue';
import Contact from './components/Contact.vue';
import Footersection from './components/Footer.vue';


export default {
  name: 'app',  
  
  components: {Navigation, Hero, Menusection, Openingtime, Aboutus, Contact, Footersection},

  data () {
    return {
      
    }
  },
}
</script>

<style>

</style>
